*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}

h1,h2 {
    text-shadow: -1px 1px 1px  rgba(153, 150, 150, 0.507);
}
.poqsd p {
    text-shadow: -1px 1px 1px  rgba(153, 150, 150, 0.507);
}
.fixe a {
    text-shadow: -1px 1px 1px  rgba(153, 150, 150, 0.507);
}
.mailez {
    width: 50px;
    height: 50px;
    background-color: green;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 120px;
    right: 30px;
    border-radius: 100% 100% 100% 0;
    box-shadow: 2px 2px 5px 2px rgba(199, 197, 197, 0.342);

}
.maile {
    width: 50px;
    height: 50px;
    background-color: red;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 40px;
    right: 30px;
    border-radius: 100% 100% 0 100%;
    box-shadow: 2px 2px 5px 2px rgba(199, 197, 197, 0.342);

}
.reformee {
    width: 60%;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 20px;
    border-radius: 40px;
    box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.342);
    position: sticky;
    top: 75px;
    z-index: 999;
}
.lofrse {
    height: 100%;
    width: 5%;
    background-color: rgba(163, 163, 163, 0.192);
    border: 1px solid #5a07a3;
    border-radius: 8px 0px 0px 8px;
    color: rgb(90, 7, 163);
    
}
.reformee input{
    height: 100%;
    width: 95%;
    background-color: white;
    border: none;
    border-radius: 8px 0px 0px 8px;
    color: rgb(90, 7, 163);
    outline: none;
    padding-left: 10px;
}
.reformee button{
    height: 100%;
    width: 5%;
    background-color: white;
    border-radius: 0px 8px 8px 0px;
    color: white;
    border: none;
    outline: none;
}

/* image de lorqu'il ya rien a publier */
.imoer {
    height: 200px;
    width: 200px;
    background: url(../IMAGES/pub.jpg) 50% no-repeat;
    background-size: cover;
}
.erjkz {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.ghj {
    height: 400px;
    width: 100%;
    background-color: white;
}
.ronedte {
    height: 200px;
    width: 200px;
    background: url(../IMAGES/3847762.jpg) 50% no-repeat;
    background-size: cover;
    border-radius: 50px;
    margin: 0 auto;
}
.ronedte1 {
    height: 200px;
    width: 100%;
    background-color: white;
    
    margin: 0 auto;
}
.notiffq {
    width: 80%;
    height: 300px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 1px 0.5px 5px 0.1px rgb(235, 234, 234);
    background-color: rgb(250, 250, 250);
    /* min-width: 300px; */
}
@media (max-width:500px) {
    .notiffq {
        width: 80%;
        height: 100%;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 50px;
        box-shadow: 1px 0.5px 5px 0.1px rgb(235, 234, 234);
        background-color: rgb(250, 250, 250);
        margin-bottom: 100px;
        /* min-width: 300px; */
    }
    .supeyujd1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .fcdghjhk1 {
        height: 500px;
        width: 100%;
    }

    
}
.supeyujd {
    width: 100%;
    height: 50px;
    
    display: flex;
    justify-content: end;
}
.hdjks {
    width: 50px;
    height: 50px;
    background-color: #ff0000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.supeyujd1 {
    width: 100%;
    height: 250px;
   
    display: flex;
  
    justify-content: center;
}

.fcdghjhk1 {
    height: 250px;
    width: 250px;
   
    overflow: hidden;
    padding-left: 20px;
}
.fcdghjhk {
    height: 250px;
    width: 150px;
    
}
/* @media (max-width: 600px) {
    .fcdghjhk1 {
        display: none;
    }
} */
@media (min-width:10px) and (max-width:1080px) {
    .numqx {
        position: fixed;
        top: 15px;
        right: 140px;
        width: 20px;
        height: 20px;
        background-color: red;
        z-index: 3;
        text-align: center;
        border-radius: 100%;
        color: white;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nu {
        position: fixed;
        top: 15px;
        right: 90px;
        width: 20px;
        height: 20px;
        background-color: rgb(90, 7, 163);
        z-index: 3;
        text-align: center;
        border-radius: 100%;
        color: white;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #blay {
        color: rgb(90, 7, 163)
    }
    .fixe {
        width: 100%;
        height: 70px;
        top: 0;
        display: flex;
        /* flex-wrap: wrap; */
        z-index: 9999;
    
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        position: fixed;
        background-color: white;
    }
    .lofo {
        width: 200px;
        padding-left: 20px;
        height: 100%;
        background-color: white;
        display: flex;
        align-items: start;
        justify-content: start;
    }
    .lofo1 {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 80%;
        height: 100%;
        background-color: white;
    
    }
    .lofo1 nav {
        display: none;
    }
    
    
    .lofo1 img{
        top: 0px;
        right: 0px;
        padding-right: 30px;
    }
    
    /* #checkboxjh:checked ~ .zeyrze {
        visibility: visible;
        height: 500px;
        width: 100%;
        margin-top: 30px;
        right: 0px;
        top: 10px;
        background-color: red;
        position: fixed;
        display: flex;
        justify-content: end;
        top: 40px;
    }
    */
    
    
    .zeyrze {
        height: 500px;
        width: 100%;
        /* visibility: hidden; */
        display: none;
        margin-top: 30px;
        right: 0px;
        top: 10px;
        position: fixed;
        top: 100px;
        right: 10px;

    }
    .zeyrze.active {
        /* visibility: visible; */
        height: 700px;
        width: 100%;
        margin-top: 30px;
        right: 0px;
        top: 10px;
        position: fixed;
        display: flex;
        justify-content: end;
        top: 40px;

    }
    .rempvae {
        height: 500px;
        width: 300px;
        /* display: none; */
        
        background-color: white;
        box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.342);


    }
    .poqsd {
        padding-left: 20px;
        width: 100%;
        height: 50px;
        /* background-color: white; */
        display: flex;
        align-items: center;
        justify-content: start;
    }    

    .feukj {
        width: 80%;
        height: 80%;
       
       
    }
    
    
    .reformee {
        width: 90%;
        height: 50px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1px 10px;
    }
    .reformee input{
        height: 100%;
        width: 90%;
        background-color: white;
        color: rgb(90, 7, 163);
        outline: none;
        padding-left: 10px;
    }
    .reformee button{
        height: 100%;
        width: 5%;
        background-color: white;
        border-radius: 0px 8px 8px 0px;
        color: white;
        border: none;
        outline: none;
    }
    
    .categrs {
        width: 80%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .dacs1 {
        width: 50px;
        height: 50px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.342);
    
    }
    .dacs1:hover img{
        opacity: 50%;
    
    }
    #catiood {
        font-size: 1.2rem;
        text-align: center;
    }

    /* .zeyrze img {
        height: 15px;
        width: 15px;
        filter: invert();
    } */
    .footer {
        height: 70px;
        width: 100%;
        display: flex;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        background-color:rgb(90, 7, 163) ;
        display: none;
        overflow: hidden;

    }
    .footer.active{
        height: 70px;
        width: 100%;
        display: flex;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        background-color:rgb(90, 7, 163) ;
        overflow: hidden;
        animation: footer 2s ease;

    }
    .imp {
        height: 80%;
        width: 90%;
        display: flex;
       
        align-items: center;
        justify-content: center;
        background-color:rgb(90, 7, 163) ;
        animation: imp 4s ease;

    }
    
    @keyframes footer {
        0% {
            transform: translateX(-1000px);
        }
        100% {
            transform: translateX(0px);
        }
    }
   
    @keyframes imp {
        0% {
            transform: translateY(100px);
        }
        30% {
            transform: translateY(100px);
        }
        100% {
            transform: translateY(0px);
        }
    }
    .te {
        height: 100%;
        width: 85%;
        background-color:white ;
        border-radius: 50px 0px 0px 50px;
        padding-left: 20px;

        border: none;
        outline: none;
    }
    /* .te {
        height: 100%;
        width: 90%;
        background-color: white;
        outline: none;
        border: none;
        padding-left: 50px;
        border-radius: 50px 0px 0px 50px;
        box-shadow: 1px 1px 5px 1px rgb(214, 214, 214) inset;
    } */
    .sr {
        height: 100%;
        width: 15%;
        border: none;
        background: url(/static/IMAGES/mailz.png) no-repeat;
        background-size: 50px;
        background-position: center;    
        outline: none;
    }
}

@media (min-width:1080px) {
    .nu {
        background-color: white;
    }
    #blay {
        color: white;
    }
    .nu p,#gfghjh,#commander,.nu,.numqx{
        display: none;
    }
    .fixe {
        width: 100%;
        height: 70px;
        top: 0;
        display: flex;
        /* flex-wrap: wrap; */
        z-index: 9999;
    
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        position: fixed;
        background-color: white;
    }
    #checkboxjh , .lofo1 label , .zeyrze {
        display: none;

    }
    .lofo {
        width: 200px;
        padding-left: 20px;
        height: 100%;
        background-color: white;
        display: flex;
        align-items: start;
        justify-content: start;
    }
    .lofo1 {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 80%;
        padding-right: 100px;
        height: 100%;
        background-color: white;
    
    }
    
    #img{
        display: none;        
    }
    .lofo1 nav ul li{
        list-style-type: none;
    
    }
    .lofo1 nav ul a {
        text-decoration: none;
    }
    .lofo1 nav ul a:hover{
        font-weight: bolder;
    }
    .lofo1 nav ul{
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
        color: white;
    
    }
   

    .categrs {
        width: 80%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .dacs1 {
        width: 200px;
        height: 200px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.342);
    
    }
    .dacs1:hover img{
        opacity: 50%;
    
    }
    .footer {
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        background-color: rgb(90, 7, 163);
        display: none;
        overflow: hidden;

    }
    .footer.active{
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        background-color: rgb(90, 7, 163);
        animation: footer 2s ease;
        overflow: hidden;
    }
    @keyframes footer {
        0% {
            transform: translateX(-1000px);
        }
        100% {
            transform: translateX(0px);
        }
    }
    .imp {
        height: 70px;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: imp 4s ease;

    }
    @keyframes imp {
        0% {
            transform: translateY(100px);
        }
        30% {
            transform: translateY(100px);
        }
        100% {
            transform: translateY(0px);
        }
    }
    .te {
        height: 100%;
        width: 90%;
        background-color: white;
        outline: none;
        border: none;
        padding-left: 50px;
        border-radius: 50px 0px 0px 50px;
        box-shadow: 1px 1px 5px 1px rgb(214, 214, 214) inset;
    }
    
    .sr {
        outline: none;
        border: none;
        height: 100%;
        width: 10%;
        /* background-color: white;
        color: rgb(165, 35, 35); */
        background: url(/static/IMAGES/mailz.png) no-repeat;
        background-size: 50px;
        background-position: center;
        font-size: 1.2rem;
        
    }
    
}
/* .paeh {
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: white;
    top: 100px;
    right: 50px;
} */
@media (min-width:650px) {
    .infosurart {
    
        height: 100%;
        width: 100%;
        background-color: rgb(255, 254, 254);
        display: flex;
        align-items: start;
        padding-top: 50px;
        flex-wrap: wrap;
        top: 150px;
        position: fixed;
        top: 100px;
        display: none;
    
        justify-content: center;
    
    }
    
    .infosurart.active{
        height: 100%;
        width: 100%;
        background-color: rgba(235, 235, 235, 0.226);
        display: flex;
        align-items: start;
        padding-top: 120px;
        flex-wrap: wrap;
        position: fixed;
        top: 20px;
    
        justify-content: center;
    
    }
    .imoaeInfomp {
        padding-left: 8px;
        padding-top: 20px;
        padding-right: 8px;
        height: 200px;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        }
    .mslkjhy {
    height: 500px;
    width: 250px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 30px;
    
    
    }
    #zakj {
        display: none;
    }
    .autre {
    height: 500px;
    width: 400px;
    background-color: white;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    padding-left: 30px;
    
    
    
    }
    
    .imoaeImagee {
    height: 250px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    justify-content: center;
    }
    
    .imoaeImagee img {
    height: 100%;
    width:250px;
    
    }
    
    .imoaeBoute {
    height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: end;
    
    justify-content: center;
    }
    .imoaeBoute button {
    height: 50px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(90, 7, 163);
    color: white;
    border-radius: 3px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;
    box-shadow: 0.5px 0.5px 5px 0.5px rgb(232, 223, 241);
    
    
    }
    .anuezol {
        height: 20px;
        width: 400px;
        
        display: flex;
        align-items: center;
        padding-right: 20px;

        justify-content: end;
    }
}
@media (max-width:650px) {
    .anuezol {
        width: 200px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .infosurart {
    
        height: 100%;
        width: 100%;
        background-color: rgb(255, 254, 254);
        display: flex;
        align-items: start;
        padding-top: 50px;
        flex-wrap: wrap;
        top: 150px;
        position: fixed;
      
        gap: 20px;
        display: none;
    
        justify-content: center;
    
    }
    .infosurart.active{
        height: 100%;
        width: 100%;
        background-color: rgba(235, 235, 235, 0.226);
        display: flex;
        align-items: start;
        padding-top: 100px;
        flex-wrap: wrap;
        top: 100px;
        position: fixed;
        
     
    
        justify-content: center;
    
    }
    .imoaeInfomp {
        padding-left: 8px;
        padding-top: 20px;
        padding-right: 8px;
        height: 200px;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        }
    .mslkjhy {
    padding-top: 10px ;
   
    width: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 5px 0.5px rgb(232, 223, 241);
  
    
    
    }
    
    .autre {
       display: none;
  
    
    
    }








    
    .imoaeImagee {
    height: 150px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    justify-content: center;
    }
    .imoaeImagee img {
        height: 100%;
        width: 50%;
        
        }
    .imoaeBoute {
    height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: end;
    
    justify-content: center;
    }
    .imoaeBoute button {
    height: 30px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(90, 7, 163);
    color: white;
    border-radius: 3px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;
    box-shadow: 0.5px 0.5px 5px 0.5px rgb(232, 223, 241);
    
    
    }
}
body {
    width: 100%;
   
    background-color: rgb(255, 254, 254);
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
 
    justify-content: center;
}

.hre {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 254, 254);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap: 20px;
    justify-content: center;
    }
.imoer1 {
padding-top: 10px ;
height: 350px;
width: 170px;
background-color: white;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
border-radius: 5px;
box-shadow: 0.5px 0.5px 5px 0.5px rgb(232, 223, 241);
margin-bottom: 30px;


}


.imoaeImage {
height: 150px;
width: 100%;
background-color: white;
display: flex;
align-items: center;
flex-direction: column;
padding-top: 20px;
justify-content: center;
}
.imoaeInfo {
padding-left: 8px;
padding-top: 20px;
padding-right: 8px;
height: 200px;
width: 100%;
background-color: white;
display: flex;
align-items: start;
flex-direction: column;

justify-content: start;
}
.imoaeBout {
height: 50px;
width: 100%;
background-color: white;
display: flex;
align-items: end;

justify-content: center;
}
.imoaeBout button {
height: 30px;
width: 100%;
padding-left: 10px;
padding-right: 10px;
background-color: rgb(90, 7, 163);
color: white;
border-radius: 3px;
margin-bottom: 10px;
border-radius: 3px;
border: none;
box-shadow: 0.5px 0.5px 5px 0.5px rgb(232, 223, 241);


}
.nkqekj {
/* height: 400px; */
width: 70%;
margin-bottom: 20px;
padding: 20px;
padding-bottom: 20px;
background-color: white;
display: flex;
align-items: center;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
box-shadow: 0.5px 0.5px 5px 0.5px rgb(232, 223, 241);
}
.nkqekj a{
    padding: 10px 10px;
    background-color: white;
    color: rgb(90, 7, 163);
    border-radius: 5px;
    border: 1px solid rgb(90, 7, 163);
    margin-right: 10px;
}
.nkqekj a:hover{
    padding: 10px 10px;
    background-color: rgb(90, 7, 163);
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(90, 7, 163);
}


li{
    list-style-type: none;

}

a {
    text-decoration: none;
    color: black;
}



.retyu1 {
  
    /* padding-left: 50px; */
    width: 400px;
 
    background-color: white;
}
.retyu1 h1{
    font-size: 4rem;
}


.retyu2 {
    
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}


.fooetre {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 1px 20px;
    text-align: center;
}

.annima {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 270px;
   
    margin: 0 auto;
    background-color: white;
}



