*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }
  /* body {
    width: 100%;
    overflow: hidden;
    background-color: rgb(245, 167, 0);
} */
  /* @media (min-width:1000px) {
    body {
        width: 100%;
        overflow: hidden;
        background-color: rgb(245, 167, 0);
    }
  }
  @media (min-width:10px) and (max-width:1000px) {
    body {
        width: 100%;
        overflow: visible;
        background-color: rgb(245, 167, 0);
    }
} */
@media (min-width:10px) and (max-width:675px){
    body {
        width: 100%;
        
        background-color: rgb(90, 7, 163);
    }
    a {
        text-decoration: none;
        color: rgb(90, 7, 163);
    }
      
    header {
        width: 100%;
        height: 1500px;
        background-color: rgb(90, 7, 163);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dex2 {
        width: 100%;
        background-color: rgb(90, 7, 163);
        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        /* position: fixed; */
        top: 10px;

    }
    .mp {
        /* height: 480px; */
        width: 340px;
        height: 500px;
        
        background-color: white;
        /* border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px; */
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: start;
        box-shadow: 0.5px 0.5px 5px 0.5px rgb(232, 223, 241);
        flex-direction: column;
    }
    .mp1 {
        /* height: 480px; */
        width: 340px;
        
        background-color: white;
       
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: start;
        box-shadow: 0.5px 0.5px 5px 0.5px rgb(232, 223, 241);
        flex-direction: column;
    }
    #vjk {
        border-radius: 10px;
    }
    #vjk1 {
        margin-bottom: 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hea2 {
        height: 12%;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: column;
       
    }
    .formulaire {
        height: 73%;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: end;
        justify-content: start;
        flex-direction: column;
    }
    .formulaire label{
        font-size: 0.8rem;
        font-weight: bolder;
        margin-top: 10px;
        margin-bottom: 5px;
       
        color: rgb(90, 7, 163);

    }
    .formulaire input{
        height: 25px;
        width: 100%;
        background-color: rgba(146, 151, 151, 0.192);
        border: 1px solid rgb(90, 7, 163);
        border-radius: 8px;
        color: rgb(90, 7, 163);
        outline: none;
        padding-left: 10px;
    }
    .formulaire button{
        height: 40px;
        width: 40%;
        background-color: rgb(90, 7, 163);
        border-radius: 8px;
        color: white;
        border: none;
        margin: 0 auto;
        outline: none;

    }
    .formulaire button:hover{
        height: 40px;
        width: 40%;
        background-color:  white;
        border-radius: 8px;
        color: rgb(90, 7, 163);
        border: none;
        margin: 0 auto;
        outline: none;
        border: 1px solid rgb(90, 7, 163);
    }
       
    
}





@media (min-width:675px) and (max-width:3000px){
    body {
        width: 100%;
        overflow: hidden;
        background-color: rgb(90, 7, 163);
    }
    a {
        text-decoration: none;
        color: rgb(90, 7, 163);
    }
      
    header {
        width: 100%;
        height: 2000px;
        background-color: rgb(90, 7, 163);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dex2 {
        width: 100%;
        background-color: rgb(90, 7, 163);
        height: 100%;
        display: flex;
        justify-content: center;
       
        align-items: center;
        position: fixed;
        top: 10px;

    }
    .mp {
        /* height: 480px; */
        width: 340px;
        height: 466px;
        background-color: white;
        /* border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px; */
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: start;
        box-shadow: 0.5px 0.5px 5px 0.5px rgb(232, 223, 241);
        flex-direction: column;
    }
    .mp1 {
        /* height: 480px; */
        
        background-color: white;
        /* border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px; */
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: start;
        box-shadow: 0.5px 0.5px 5px 0.5px rgb(232, 223, 241);
        flex-direction: column;
    }
    #selectOption {
        border: 1px solid rgb(90, 7, 163);
        outline: none;
        color: rgb(90, 7, 163);

    }
    #selectOption option::after{
        background-color: rgb(90, 7, 163);
        color: white;
    }
    #vjk {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    #vjk1 {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hea2 {
        height: 12%;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: column;
       
    }
    .formulaire {
        height: 73%;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: end;
        justify-content: start;
        flex-direction: column;
    }
    .formulaire label{
        font-size: 0.8rem;
        font-weight: bolder;
        margin-top: 10px;
        margin-bottom: 5px;
       
        color: rgb(90, 7, 163);

    }
    .formulaire input{
        height: 25px;
        width: 100%;
        background-color: rgba(146, 151, 151, 0.192);
        border: 1px solid rgb(90, 7, 163);
        border-radius: 8px;
        color: rgb(90, 7, 163);
        outline: none;
        padding-left: 10px;
    }
    .formulaire button{
        height: 40px;
        width: 40%;
        background-color: rgb(90, 7, 163);
        border-radius: 8px;
        color: white;
        border: none;
        margin: 0 auto;
        outline: none;

    }
    .formulaire button:hover{
        height: 40px;
        width: 40%;
        background-color:  white;
        border-radius: 8px;
        color: rgb(90, 7, 163);
        border: none;
        margin: 0 auto;
        outline: none;
        border: 1px solid rgb(90, 7, 163);
    }
       
    
}
  
  @media (min-width:3000px) {
      
      
      
    a {
        text-decoration: none;
        color: white;
    }
      
    header {
        width: 100%;
        height: 4000px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dex2 {
        width: 100%;
        background-color: white;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 10px;

    }
    .mp {
        height: 800px;
        width: 550px;
        background-color: black;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 20px;
    }
    .hea {
        height: 15%;
        width: 40%;
        background: url(../image/BLA.jpg) 50% no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: 200px;
        filter: invert();
    }
    .hea2 {
        height: 100px;
        width: 100%;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .hea2 p{
        color: white;
        font-size: 2rem;
        font-weight: bold;
    }
    .hea3 {
        margin-top: 20px;
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        background-color: rgb(0, 0, 0);
    }

    .hea3 p {
        margin-bottom: 15px;
        font-size: 0.8rem;
        color: white;
        font-weight: bold;
        padding-right: 35px;
    }
    .hea4 {
        height: 30px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: end;
        padding-right: 20px;
        
    }
    .hea4 input {
        border-radius: 40px;
        border: 1px solid white;
        background-color: rgba(49, 48, 48, 0.199);
        width: 90%;
        height: 40px;
        color: white;
        padding-left: 10px;
    }
    .hea5 {
        margin-top: 20px;
        height: 10px;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        background-color: black;
        color: white;
    }
    .hea5 p {
        font-size: 1rem;
        padding-right: 40px;
        margin-top: 20px;
    }
    .hea5 p:hover{
        font-size: 0.7rem;
        padding-right: 20px;
        color: blue;
        
    }
    .hea6{
        margin-top: 20px;
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
        background-color: black;
        color: white;
    }
    .hea6 h1 {
        font-size: 1.5rem;
        padding-bottom: 30px;
    }

    .hea7{
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
    }
    .hea7 li {
        font-size: 1.2rem;
        list-style-type: none;
        
    }
    .hea7 li a{
        padding: 20px;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 60px;
        
    }
    .hea7 li a:hover{
        padding: 10px;
        background-color: rgba(102, 100, 100, 0.075);
        border: 2px solid rgb(0, 0, 0);
        border-radius: 20px;
        color: white;
        font-weight: bolder;
        font-size: 1rem;
        
    }
      
  }
  

  















/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

input {

    outline: none;
    border: none;
    background-color: rgba(128, 128, 128, 0.473);
    border-radius: 20px;
    padding-left: 20px;
    color: white;
    
}

body {
    
    background-color: rgba(151, 156, 156, 0.212);
}

.navhaut {
    height: 100px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    display: flex;
    box-shadow: 1px 1px 5px 0.2px rgba(128, 128, 128, 0.212);
}
.reche1 {
    height: 100%;
    width: 70%;
    background-color: white;
    

    display: flex;
    justify-content: end;
    align-items: center;
}
.reche2 {
    height: 100%;
    width: 30%;
    background-color: white;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: end;
    padding-right: 50px;
    
}
.notif {
    height: 35px;
    width: 35px;
    background: url(../image/loupe.png) 50% no-repeat;
    background-size: cover;
    border-radius: 100%;
    
}
.panie {
    height: 35px;
    width: 35px;
    background: url(../image/no.jpg) 50% no-repeat;
    background-size: cover;
    border-radius: 100%;
    
}
.profil {
    height: 35px;
    width: 35px;
    background: url(../image/trsd.jpg) 50% no-repeat;
    background-size: cover;
    border-radius: 100%;
    
}
.reche1 input{
    height: 50px;
    width: 75%;
    border-radius: 100px;
    background-color: rgba(98, 114, 114, 0.212);
    color: gray;
    
}
.logo {
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-bottom: 50px;
}
.logo1 {
    height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 25px;
}
.logo1 p{
    padding-top: 8px;
    color: purple;
    padding-left: 10px;
}


.logo2 {
    height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 25px;
    margin-top: 100px;
}
.logo2 p{
    padding-top: 8px;
    color: purple;
    padding-left: 10px;
}
.logo3 {
    height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 25px;
}
.logo3 p{
    padding-top: 8px;
    color: purple;
    padding-left: 10px;
}
.navgauche {
    height: 2000px;
    width: 12%;
    background-color: white;
    position: fixed;
    top: 0;
    box-shadow: 1px 1px 5px 0.2px rgba(128, 128, 128, 0.212);
}
.navdroit {
    height: 2000px;
    width: 12%;
    background-color: rgb(139, 0, 252);
    position: fixed;
    right: 0;
    top: 100.2px;
    box-shadow: 1px 1px 5px 0.2px rgba(128, 128, 128, 0.212);
}
.favi {
    height: 200px;
    width: 100%;
    background-color: rgb(139, 0, 252);
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.fav {
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 10%;
    overflow: hidden;
    box-shadow: 1px 1px 5px 0.2px rgba(161, 161, 161, 0.945);
}
.favi1 {
    height: 50px;
    width: 100%;
    background-color: rgb(139, 0, 252);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.favi2 {
    height: 200px;
    width: 100%;
    background-color: rgb(139, 0, 252);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;

}
.favi3 {
    height: 200px;
    width: 100%;
    background-color: rgb(139, 0, 252);
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 10%;
    gap: 10px;

}
.page {
    height: 2000px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    padding-top: 115px;
    background-color: rgba(101, 105, 105, 0);
    box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.212);
}
.page1 {
    border-radius: 20px;
    height: 500px;
    width: 74%;
    background-color: white;
    margin-bottom: 15px;
    box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.212);
}

.notif1 {
    height: 35px;
    width: 35px;
    background: url(../image/in.jpg) 50% no-repeat;
    background-size: cover;
    border-radius: 100%;
    
}
.panie1 {
    height: 35px;
    width: 35px;
    background: url(../image/in.jpg) 50% no-repeat;
    background-size: cover;
    border-radius: 100%;
    
}
.profil1 {
    height: 35px;
    width: 35px;
    background: url(../image/in.jpg) 50% no-repeat;
    background-size: cover;
    border-radius: 100%;
    
} */
