*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
h1,h2 {
    text-shadow: -1px 1px 1px  rgba(153, 150, 150, 0.507);
}
.vradout {
    width: 100%;
    height: 100px;
    background-color: #5a07a3;
}
/* .maile {
    width: 50px;
    height: 50px;
    background-color: rgb(90, 7, 163);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    right: 20px;
    border-radius: 100% 100% 0 100%;
    box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.342);

} */
.fixe {
    width: 100%;
    height: 70px;
    top: 0;
    display: flex;
    /* flex-wrap: wrap; */
    z-index: 9999;

    align-items: center;
    justify-content: center;
    justify-content: space-between;
    position: fixed;
    background-color: white;
}

@media (min-width:1000px) {
    #checkboxjh , .lofo1 label , .zeyrze {
        display: none;

    }
    .lofo {
        padding-left: 45px;
        padding-top: 5px;
        width: 200px;
        height: 100%;
        background-color: white;
        display: flex;
        align-items: start;
        justify-content: start;
    }
    .lofo1 {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 80%;
        padding-right: 100px;
        height: 100%;
        background-color: white;
    
    }
    #img{
        display: none;        
    }
    .lofo1 nav ul li{
        list-style-type: none;
    
    }
    .lofo1 nav ul a {
        text-decoration: none;
    }
    .lofo1 nav ul a:hover{
        font-weight: bolder;
    }
    .lofo1 nav ul{
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
        color: white;
    
    }
    body {
        width: 100%;
        scroll-behavior: smooth;
        background-color: white;
        height: 700px;
    }
    .hre {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    }
    /* .footer {
    height: 300px;
    width: 100%;
    background-color: rgb(124, 24, 24);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    } */
    
    li{
        list-style-type: none;
    
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    
    .retyu1 {
        padding-top: 150px;
        padding-left: 50px;
        padding-right: 50px;
        width: 60%;
        height: 100%;
        background-color: white;
    }
    .retyu1 h1{
        font-size: 4rem;
    }
    /* .retyu1 a{
        padding: 15px 25px;
        background-color:  white;
        color: rgb(90, 7, 163);
        border-radius: 5px;
        border: 1px solid rgb(90, 7, 163)
    } */
    .retyu1 a{
        padding: 15px 25px;
        background-color: rgb(90, 7, 163);
        color: white;
        border-radius: 5px;
        border: 1px solid rgb(90, 7, 163);
        box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.342);
        border-radius: 5px;
    }
    .retyu2 {
        display: flex;
        
    
        justify-content: center;
        padding-top: 150px;
        width: 50%;
        height: 100%;
        background-color: white;
    }
    
    .hau1 {
        height: 80%;
        width: 100%;
        background-color: white;
    }
    .hau2 {
        height: 70px;
        width: 100%;
        background-color: #5a07a3;
    }
    .footer {
        height: 500px;
        width: 100%;
        display: flex;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        background-color:white ;
    }
    
    .imp2 {
        height: 80%;
        width: 85%;
        
        gap: 10px;
        padding-top: 20px;
        background-color:white ;
        max-width: 500px;
        padding-right: 50px;
        border-radius: 15px;
    }
    .imp {
        height: 80%;
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-top: 20px;
        justify-content: center;
        box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.342);
        background-color:white ;
        max-width: 500px;
        border-radius: 15px;
    }
    .file-input {
        height: 150px;
    }
    .pslfe {
        margin-bottom: 10px;
        width:  90%;
        height: 100px;
        background-color: white;
    }
    .te {
        height: 50px;
        width: 100%;
        background-color: rgba(128, 128, 128, 0.123);
        padding-left: 20px;
        border-radius: 10px;
        color: #5a07a3;
        display: flex;
        
        border: none;
        outline: none;
    }
    .tee {
        height: 50px;
        width: 100%;
        background-color: #5a07a3;
        padding-left: 20px;
        border-radius: 10px;
        color: white;
        display: flex;
        justify-content:center ;
        border: none;
        outline: none;
    }
    /* .te {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.363);
        border-radius: 10px;
        color: white;
        padding: 10px 10px;
    } */


    /* .te {
        height: 100%;
        width: 90%;
        background-color: white;
        outline: none;
        border: none;
        padding-left: 50px;
        border-radius: 50px 0px 0px 50px;
        box-shadow: 1px 1px 5px 1px rgb(214, 214, 214) inset;
    } */
    .sr {
        height: 100%;
        width: 15%;
        border: none;
        background: url(/static/IMAGES/mailz.png) no-repeat;
        background-size: 50px;
        background-position: center;    
        outline: none;
    }
    
    
}









@media (max-width:1000px) {
    .lofo {
        width: 200px;
        padding-left: 20px;
        height: 100%;
        background-color: white;
        display: flex;
        align-items: start;
        justify-content: start;
    }
    .lofo1 {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 80%;
        height: 100%;
        background-color: white;
    
    }
    .lofo1 nav {
        display: none;
    }
    
    
    .lofo1 img{
        top: 0px;
        right: 0px;
        padding-right: 30px;
    }
    
    #checkboxjh:checked ~ .zeyrze {
        visibility: visible;
        height: 500px;
        width: 300px;
        margin-top: 30px;
        right: 0px;
        top: 10px;
        background-color: white;
        position: fixed;
        top: 40px;
    }
    
    .zeyrze {
        height: 500px;
        width: 300px;
        visibility: hidden;
        /* display: none; */
        margin-top: 30px;
        right: 0px;
        top: 10px;
        background-color: white;
        position: fixed;
        top: 100px;
        right: 10px;
        box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.342);


    }
    .poqsd {
        padding-left: 20px;
        width: 100%;
        height: 50px;
        /* background-color: white; */
        display: flex;
        align-items: center;
        justify-content: start;
    }
   
    .feukj {
        width: 80%;
        height: 80%;
        background-color: aqua;
       
    }
    
    



    #fgsqhj {
        display: none;
    }
    body {
        width: 100%;
        scroll-behavior: smooth;
        background-color: white;
        margin-top: 100px;
       
    }
    .hre {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    }
    
    li{
        list-style-type: none;
    
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    
    .retyu1 {
        padding-top: 10px;
        padding: 20px;
        width: 100%;
        height: 100%;
        background-color: white;
    }
    .retyu1 h1{
        font-size: 2rem;
    }
    .imp2 {
        display: none;
    }
    .footer {
        height: 500px;
        width: 100%;
        display: flex;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        background-color:white ;
    }
    
    .imp {
        height: 80%;
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-top: 20px;
        justify-content: center;
        box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.342);
        background-color:white ;
        max-width: 500px;
        border-radius: 15px;
    }
    .file-input {
        height: 150px;
    }
    .pslfe {
        width:  90%;
        height: 100px;
        margin-bottom: 10px;

        background-color: white;
    }
    .te {
        height: 50px;
        width: 100%;
        background-color: rgba(128, 128, 128, 0.123);
        padding-left: 20px;
        border-radius: 10px;
        color: #5a07a3;
        display: flex;
        
        border: none;
        outline: none;
    }
    .tee {
        height: 50px;
        width: 100%;
        background-color: #5a07a3;
        padding-left: 20px;
        border-radius: 10px;
        color: white;
        display: flex;
        justify-content:center ;
        border: none;
        outline: none;
    }
    /* .te {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.363);
        border-radius: 10px;
        color: white;
        padding: 10px 10px;
    } */


    /* .te {
        height: 100%;
        width: 90%;
        background-color: white;
        outline: none;
        border: none;
        padding-left: 50px;
        border-radius: 50px 0px 0px 50px;
        box-shadow: 1px 1px 5px 1px rgb(214, 214, 214) inset;
    } */
    .sr {
        height: 100%;
        width: 15%;
        border: none;
        background: url(/static/IMAGES/mailz.png) no-repeat;
        background-size: 50px;
        background-position: center;    
        outline: none;
    }
    /* .retyu1 a{
        padding: 15px 25px;
        background-color:  white;
        color: rgb(90, 7, 163);
        border-radius: 5px;
        border: 1px solid rgb(90, 7, 163)
    } */
    .retyu1 p{
       font-size: 0.8rem;
    }
    .retyu1 a{
        padding: 15px 25px;
        background-color: rgb(90, 7, 163);
        color: white;
        border-radius: 5px;
        border: 1px solid rgb(90, 7, 163);
        box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.342);
        border-radius: 5px;
    }

}

