*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
#gh {
    padding: 15px 25px;
    color: white;
    background-color: rgb(90, 7, 163);
    color: #ae7ddb;
}
#gh:hover{
    padding: 15px 25px;
    color: rgb(90, 7, 163);
    background-color: white;
    border: 0.5px solid rgb(90, 7, 163);
}
#gh img{
    margin-left: 10px;
    filter: invert();
}
#gh:hover img{
    filter: invert(24%) sepia(50%) saturate(3691%) hue-rotate(260deg) brightness(95%) contrast(92%);
}
@media (min-width:10px) and (max-width:1000px) {
    .lofo1 nav {
        display: none;
    }
    .lofo1{
        padding-right: 20px;
        
    }
    .lofo1 img{
        top: 0px;
        right: 0px;
        padding-right: 30px;
    }
    .dfghj {
        height: 500px;
        width: 300px;
        position: fixed;
        display: flex;
        align-items: end;
        justify-content: end;
        flex-direction: column;
        right: 0px;
        top: 18px;
       
        

    }
    #checkboxjh:checked ~ .zeyrze {
        visibility: visible;
        height: 500px;
        width: 300px;

        background-color: rgb(90, 7, 163);
        margin-top: 15px;
        right: 0px;
        top: 10px;
    }
    .feukj {
        width: 80%;
        height: 80%;
        background-color: aqua;
       
    }
    .zeyrze {
        height: 500px;
        width: 300px;
        visibility: hidden;
        /* display: none; */
        margin-top: 30px;
        right: 0px;
        top: 10px;

    }
    .poqsd {
        padding-left: 20px;
        width: 100%;
        height: 50px;
        /* background-color: white; */
        display: flex;
        align-items: center;
        justify-content: start;
    }
    
    /* .zeyrze img {
        height: 15px;
        width: 15px;
        filter: invert();
    } */
}
@media (min-width:1000px) {
    .dfghj {
        display: none;

    }
    .lofo1 {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 80%;
        padding-right: 100px;
        height: 100%;
        background-color: rgb(90, 7, 163);
    
    }
    #img{
        display: none;        
    }
    .lofo1 nav ul li{
        list-style-type: none;
    
    }
    .lofo1 nav ul a {
        text-decoration: none;
    }
    .lofo1 nav ul{
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
        color: white;
    
    }
}
/* .paeh {
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: white;
    top: 100px;
    right: 50px;
} */
body {
    width: 100%;
    padding-top: 100px;
    background-color: rgb(248, 248, 248);
    height: 1100px;
   
}
.hre {
padding-top: 100px;
height: 100%;
width: 100%;
display: flex;
align-items: center;
flex-direction: column;
/* gap: 20px;*/
/* justify-content: center;  */
}
.nkqekj {
/* height: 400px; */
width: 70%;
margin-bottom: 20px;
padding: 20px;
padding-bottom: 20px;
background-color: white;
display: flex;
align-items: center;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
box-shadow: 0.5px 0.5px 5px 0.5px rgb(232, 223, 241);
}
.nkqekj a, button{
    padding: 10px 10px;
    background-color: white;
    color: rgb(140, 58, 216);
    border-radius: 5px;
    border: 1px solid rgb(140, 58, 216);
    margin-right: 10px;
}
.nkqekj button:hover {
    padding: 10px 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: 1px solid red;
}
.nkqekj a:hover{
    padding: 10px 10px;
    background-color: rgb(140, 58, 216);
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(140, 58, 216);
}

li{
    list-style-type: none;

}

a {
    text-decoration: none;
    color: black;
}
.fixe {
    width: 100%;
    height: 70px;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
    position: fixed;
    background-color: rgb(90, 7, 163);}

.lofo {
    width: 200px;
    padding-left: 20px;
    height: 100%;
    background-color: rgb(90, 7, 163);
}



.retyu1 {
  
    /* padding-left: 50px; */
    width: 400px;
 
    background-color: white;
}
.retyu1 h1{
    font-size: 4rem;
}

.retyu2 {
    
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}


#pansup img{
    filter: invert(28%) sepia(78%) saturate(7478%) hue-rotate(354deg) brightness(99%) contrast(123%);
}
#pansup:hover img{
    filter: invert();
}

#pansup{
    padding: 10px 10px;
    background-color: white;
    color: rgb(140, 58, 216);
    border-radius: 5px;
    border: 1px solid red;
    margin-right: 10px;
}
#pansup:hover {
    padding: 10px 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: 1px solid red;
}
/* /* #pansup:hover img{
    text-align: center;
    height: 60px;
    width: 215px;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}  */