*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
.payem input {
    padding: 15px 25px;
    color: white;
    background-color: rgb(90, 7, 163);
    border: none;
}
.payem input:hover{
    padding: 15px 25px;
    color: rgb(90, 7, 163);
    background-color: white;
    border: 1px solid rgb(90, 7, 163);
}
@media (min-width:10px) and (max-width:1000px) {
    .lofo1 nav {
        display: none;
    }
    .lofo1{
        padding-right: 20px;
        
    }
    .lofo1 img{
        top: 0px;
        right: 0px;
        padding-right: 30px;
    }
    .dfghj {
        height: 500px;
        width: 300px;
        position: fixed;
        display: flex;
        align-items: end;
        justify-content: end;
        flex-direction: column;
        right: 0px;
        top: 18px;
       
        

    }
    #checkboxjh:checked ~ .zeyrze {
        visibility: visible;
        height: 500px;
        width: 300px;
        
        background-color: rgb(90, 7, 163);
        margin-top: 15px;
        right: 0px;
        top: 10px;
    }
    .feukj {
        width: 80%;
        height: 80%;
        background-color: aqua;
       
    }
    .zeyrze {
        height: 500px;
        width: 300px;
        visibility: hidden;
        /* display: none; */
        margin-top: 30px;
        right: 0px;
        top: 10px;

    }
    .poqsd {
        padding-left: 20px;
        width: 100%;
        height: 50px;
        /* background-color: white; */
        display: flex;
        align-items: center;
        justify-content: start;
    }
    
    /* .zeyrze img {
        height: 15px;
        width: 15px;
        filter: invert();
    } */
}
@media (min-width:1000px) {
    .dfghj {
        display: none;

    }
    .lofo1 {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 80%;
        padding-right: 100px;
        height: 100%;
        background-color: rgb(90, 7, 163);
    
    }
    #img{
        display: none;        
    }
    .lofo1 nav ul li{
        list-style-type: none;
    
    }
    .lofo1 nav ul a {
        text-decoration: none;
    }
    .lofo1 nav ul{
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
        color: white;
    
    }
}
/* .paeh {
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: white;
    top: 100px;
    right: 50px;
} */
body {
    width: 100%;
    padding-top: 130px;
    background-color: white;
    height: 1100px;
}
.hre {
height: 100%;
width: 100%;
background-color: white;
display: flex;
align-items: center;
flex-direction: column;
gap: 20px;
justify-content: center;
}
.nkqekj {
/* height: 400px; */
width: 70%;
margin-bottom: 20px;
padding: 20px;
padding-bottom: 20px;
background-color: white;
display: flex;
align-items: center;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
box-shadow: 0.5px 0.5px 5px 0.5px rgb(232, 223, 241);
}
.nkqekj a, button{
    padding: 10px 10px;
    background-color: white;
    color: rgb(140, 58, 216);
    border-radius: 5px;
    border: 1px solid rgb(140, 58, 216);
    margin-right: 10px;
}
.nkqekj a:hover, button:hover {
    padding: 10px 10px;
    background-color: rgb(140, 58, 216);
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(140, 58, 216);
}

li{
    list-style-type: none;

}

a {
    text-decoration: none;
    color: black;
}
.fixe {
    width: 100%;
    height: 70px;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
    position: fixed;
    background-color: rgb(90, 7, 163);
}

.lofo {
    width: 200px;
    padding-left: 20px;
    height: 100%;
    background-color: rgb(90, 7, 163);

}

.ertqsfy {
    width: 100%;
    height:600px ;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.payem {
    width: 300px;
    height: 500px;
    padding-bottom: 50px;
    background-color: white;

    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0.5px 0.5px 5px 0.5px rgb(232, 223, 241);

}
.payem a:hover{
    padding: 15px 25px;
    background-color: rgb(90, 7, 163);
    border-radius: 5px;
    color: white;

}
.payem a{
    padding: 15px 25px;
    background-color: white;
    border-radius: 5px;
    color: rgb(90, 7, 163);
    border: 2px solid rgb(90, 7, 163);
}
.payem1 {
    width: 400px;
    height: 500px;
    padding-bottom: 50px;
    background-color: white;
    
    /* display: flex; */
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0.5px 0.5px 5px 0.5px rgb(232, 223, 241);

}
.payem1 a:hover{
    padding: 15px 25px;
    background-color: rgb(90, 7, 163);
    color: white;
    border-radius: 5px;

}
.payem1 a{
    padding: 15px 25px;
    background-color: white;
    border-radius: 5px;
    color: rgb(90, 7, 163);
    border: 2px solid rgb(90, 7, 163);
}
.dfgh {
    width: 250px;
    height: 250px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.dfgh1 {
    width: 100%;
    padding-top: 50px; 
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(90, 7, 163);
    background-color: white;
   

}


.payem1.dfggh {
    width: 100%;
    
    height: 70%;


}
.payem1.dfggho {
    width: 100%;
    height: 30%;


}
