*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

a {
list-style-type: none;
text-decoration: none;
color: white;

}
body {
    padding: 50px;
    width: 100%;
    padding-top: 200px;
    background-color: white;
    display: grid;
    place-items: center;
    
}
.ajoutons {
    width: 80%;
    
    
    padding-top: 10px;
    margin-bottom: 50px;

}

.eduz {
    display: flex;
    
    width: 100%;
    height: 50%;
}
.eduz a{
    width: 100px;
    height: 40px;
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(114, 17, 109);
    border-radius: 2px;
    margin-right: 50px;
}
.sys a{
    width: 100px;
    height: 40px;
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(114, 17, 109);
    border-radius: 2px;
    margin-right: 50px;
}
.sys {
    display: flex;
    width: 100%;
    height: 50%;
}
table {
    width: 80%;
    border: none;
    overflow: hidden;
    background-color: rgb(230, 230, 230);

}
thead {
    width: 100%;
    background-color: white;

}
tbody {
    width: 100%;
    border: 10px solid black;
    background-color: white;
    
}
tbody .suppr{
    width: 100%;
    padding: 12px 35px;
    font-size: 0.5rem;
    background-color: #a31818;
    border-radius: 2px;

}

tbody .modif{
    width: 100%;
    padding: 12px 35px;
    font-size: 0.5rem;
    background-color: rgb(24, 163, 66);
    border-radius: 2px;

}
td {
    padding: 10px 12px;
    text-align: center;
}
.hre {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    }
    .footer {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
}

.footer {
height: 100%;
width: 100%;
background-color: white;
display: flex;
flex-direction: column;
align-items: center;

justify-content: center;
}

li{
    list-style-type: none;

}

a {
    text-decoration: none;
    color: white;
}

.fixe {
    width: 100%;
    height: 70px;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
    position: fixed;
    background-color: rgb(90, 7, 163);}

.lofo {
    width: 200px;
    padding-left: 20px;
    height: 100%;
    background-color: rgb(90, 7, 163);
}
.lofo1 {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
    padding-right: 100px;
    height: 100%;
    background-color: rgb(90, 7, 163);

}
.lofo1 nav ul li{
    list-style-type: none;

}
.lofo1 nav ul a {
    text-decoration: none;
}
.lofo1 nav ul{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    color: white;

}

.retyu1 {
    padding-top: 150px;
    padding-left: 50px;
    
    width: 50%;
    height: 100%;
    background-color: white;
}
.retyu1 h1{
    font-size: 4rem;
}
.retyu1 a{
    padding: 15px 25px;
    background-color:  white;
    color: rgb(140, 58, 216);
    border-radius: 5px;
    border: 1px solid rgb(140, 58, 216)
}
.retyu1 a:hover{
    padding: 15px 25px;
    background-color: rgb(140, 58, 216);
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(140, 58, 216);
}
.retyu2 {
    display: flex;
    

    justify-content: center;
    padding-top: 150px;
    width: 50%;
    height: 100%;
    background-color: white;
}

.hau1 {
    height: 80%;
    width: 100%;
    background-color: white;
}
.hau2 {
    height: 70px;
    width: 100%;
    background-color: rgb(140, 58, 216);
}


@media (min-width:10px) and (max-width:1000px) {
    .lofo1 nav {
        display: none;
    }
    .lofo1{
        padding-right: 20px;
        
    }
    .lofo1 img{
        top: 0px;
        right: 0px;
        padding-right: 30px;
    }
    .dfghj {
        height: 500px;
        width: 300px;
        position: fixed;
        display: flex;
        align-items: end;
        justify-content: end;
        flex-direction: column;
        right: 0px;
        top: 18px;
       
        

    }
    #checkboxjh:checked ~ .zeyrze {
        visibility: visible;
        height: 500px;
        width: 300px;
        
        background-color: rgb(90, 7, 163);
        margin-top: 15px;
        right: 0px;
        top: 10px;
    }
    .feukj {
        width: 80%;
        height: 80%;
       
       
    }
    .zeyrze {
        height: 500px;
        width: 300px;
        visibility: hidden;
        /* display: none; */
        margin-top: 30px;
        right: 0px;
        top: 10px;

    }
    .poqsd {
        padding-left: 20px;
        width: 100%;
        height: 50px;
        /* background-color: white; */
        display: flex;
        align-items: center;
        justify-content: start;
    }
    
    /* .zeyrze img {
        height: 15px;
        width: 15px;
        filter: invert();
    } */
}
@media (min-width:1000px) {
    .dfghj {
        display: none;

    }
    .lofo1 {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 80%;
        padding-right: 100px;
        height: 100%;
        background-color: rgb(90, 7, 163);
    
    }
    #img{
        display: none;        
    }
    .lofo1 nav ul li{
        list-style-type: none;
    
    }
    .lofo1 nav ul a {
        text-decoration: none;
    }
    .lofo1 nav ul{
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
        color: white;
    
    }
}