
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Blay Library</title>
    <link rel="shortcut icon" href="static/IMAGES/blaye.jpeg">    
    <link rel="stylesheet" href="static/CSS/profil.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
   
</head>
<body>
    
    
    <div class="fixe">
        <div class="lofo" style="padding-left: 20px;">
            <strong><p style="color: #a275cc8e;"><span style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 3rem;color: #ffffff">B</span>lay Library</p></strong>

        </div>
        <div class="lofo1">
            <input type="checkbox" style="display: none;" name="" id="checkboxjh">
            <label for="checkboxjh">
                <img id="img" src="static/IMAGES/me.png" style="filter: invert();" alt="">
                
            </label>
            <div class="zeyrze" >
                <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: white;padding-top: 10px;padding-left: 20px;padding-bottom: 50px;">MENU</h1>
                
                
               
                <div class="poqsd" >

                    <img src="static/IMAGES/modi.png" style="filter: invert();height: 20px;"  alt="">
                    <a href="/add_objet">
                        <p style="color: white;padding-left: 5px;">Ajouter un produit</p>
                    </a>
                    

                </div>
                
                <div class="poqsd" >

                    <img src="static/IMAGES/contac-removebg-preview.png" style="filter: invert();height: 20px;"  alt="">
                    <a href="/add_data">
                        <p style="color: white;padding-left: 5px;">Ajouter un utilisateur</p>
                    </a>
                    

                </div>
                <div class="poqsd" >
                    <img src="static/IMAGES/dec-removebg-preview.png" style="filter: invert();height: 20px;"  alt="">
                    <a href="/deconnexionad">
                        <p style="color: white;padding-left: 5px;">Déconnexion</p>
                    </a>
                    

                </div>
                
                
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/add_objet" style="color: white;">Ajouter un produit</a>
                    </li>
                    <li>
                        <a href="/add_data" style="color: white;">Ajouter un utilisateur</a>
                    </li>
                    <li>
                        <a href="/deconnexionad" style="color: white;">Déconnexion</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
    <h1 id="noadm" >ESPACE DE L'ADMINISTRATEUR</h1>
    
    <!-- <div class="admpsl">
        <div class="azio3">

        </div>
        <div class="azio1">
            
        </div>
        <div class="azio2">

        </div>
        <div class="azio4">

        </div>
        <div class="azio3">

        </div>
        
    </div> -->
   <div class="ajoutons" >
        
        <!-- <div class="sys">
            <a href="/profil">Voir les produits</a>
            <h3>VOIR MES PRODUITS</h3>
        </div> -->
        
        
        <!-- <div class="sys">
            <form action="/upload" enctype="multipart/form-data" method="post">
                <input type="file" name="pic" id="" >
                <input type="submit" value="Upload a file">
            </form>
        </div> -->
    </div>
    

    


    <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-top: 50px;" id="mesu">MES UTILISATEURS</h1>

    <table>
     
        <thead>
            <th> <p >ID</p></th>
            <th> <p>NOM & PRENOM</p></th>
            <th><p>E-MAIL</p></th>
            <th><p>MOT DE PASSE</p></th>
            
        </thead>
        {% for data in profiles[1] %}
        <tbody >
            <td><p>{{data.id}}</p> </td>
            <td><p>{{data.first_name}}</p></td>
            <td><p>{{data.last_name}}</p> </td>
            <td><p>{{data.age}}</p></td>
            <td class="seer"><a href="/delete/{{data.id}}" class="suppr" ><p id="nutr" style="background-color: red;"><img src="{{url_for('static', filename='IMAGES/poubelele.png')}}" alt="" style="filter: invert(100%) sepia(0%) saturate(751%) hue-rotate(178deg) brightness(112%) contrast(105%);" width="10px" height="10px"></p></a></td>
            <td class="seer1"><a href="/update/{{data.id}}" class="modif" ><p id="nutr" style="background-color: green;"><img src="{{url_for('static', filename='IMAGES/modi.png')}}" alt="" style="filter: invert(100%) sepia(0%) saturate(751%) hue-rotate(178deg) brightness(112%) contrast(105%);" width="10px" height="10px"></p></a></td>
           
            
        </tbody>
        {% endfor %}
        
       
    
    </table>
    <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-top: 50px;" id="mesu">MES PRODUITS</h1>

    <table>
     
        <thead>
            
            <th> <p >ID</p></th>
            <th> <p>NOM</p></th>
            <th><p>DESCRIPTION</p></th>
            <th><p>PRIX</p></th>
            <th><p>♥</p></th>
            
        </thead>
        {% for data in profiles[0] %}
        <tbody >
           
            <td><p>{{data.id}}</p> </td>
            <td><p>{{data.nom}}</p></td>
            <td><p>{{data.description}}</p> </td>
            <td><p>{{data.prix}}</p></td>
            <td><p>{{data.like}}</p></td>
            <td class="seer" ><a href="/deletearticles/{{data.id}}" class="suppr" ><p id="nutr" style="background-color: red;"><img src="{{url_for('static', filename='IMAGES/poubelele.png')}}" alt="" style="filter: invert(100%) sepia(0%) saturate(751%) hue-rotate(178deg) brightness(112%) contrast(105%);" width="10px" height="10px"></p></a></td>
            <!-- <td ><a href="/update/{{data.id}}" class="modif">MODIFIER</a></td> -->
            
        </tbody>
        {% endfor %}
        
       
    
    </table>

    <div class="erjkz">

        <a href="/deconnexionad" style="text-align: center;height: 60px;width: 180px;background-color: rgb(90, 7, 163);color: white;padding-top: 15px;" >Déconnexion</a>
    </div>

    <!-- <h3>MES LI</h3>
    <a href="/add_data">Inscrire un utilisateur</a>
    <br>
    <table>
        <thead>
            <th>ID</th>
            <th>NOM</th>
            <th>PRENOM</th>
            <th>AGE</th>
            <th>AUTRE</th>
        </thead>
        {% for data in profiles %}
        <tbody>
            <td>{{data.id}}</td>
            <td>{{data.first_name}}</td>
            <td>{{data.last_name}}</td>
            <td>{{data.age}}</td>
            <td><a href="/delete/{{data.id}}">SUPPRIMER</a></td>
            <td><a href="/join">MODIFIER</a></td>
            
        </tbody>
        {% endfor %}
    </table> -->

    <h1 class="formatte" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: rgb(90, 7, 163);font-size: 2rem;">FORMAT DE TELEPHONE INAPPROPRIE !</h1>
    <h3 class="formatte" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: rgb(90, 7, 163);font-size: 1.3rem;color: rgba(137, 43, 226, 0.322);margin-top: 10px;">Veuillez acheter un telephone de taille moyenne - 350px .<br> Merci bien !</h3>
    <div class="formatte" style="margin-top: 70px;">

        <a href="/admining" style="text-align: center;height: 60px;width: 180px;background-color: rgb(90, 7, 163);color: white;padding: 15px 20px;" >Acceuil</a>
    </div>
</body>
</html>

