<!-- 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/CSS/achat.css">

</head>
<body>
    <div class="navhaut">
        <div class="reche1">
            <input type="text" name="" id="" placeholder="Faites vos recherces ici et maintenant">
        </div>
        <div class="reche2">
            <div class="notif">
                
            </div>
            <div class="panie">
                <a href="/panieruser"><p style="opacity: 0;">.</p></a>
            </div>
            <div class="profil" >
                <a href="/useprid"><p style="opacity: 0;">.</p></a>
            </div>
        </div>
    </div>
    <div class="navgauche">
        <div class="logoa" style="text-align: center;padding-top: 30px;">
            <input type="checkbox" style="display: none;" name="" id="cliquer">
            <label for="cliquer">
                <img src="static/IMAGES/me.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
            </label>
            <div class="lishd">
                <nav>
                    <ul>
                        <li style="list-style-type: none;"><a style="text-decoration: none;color: #8b00fc;" href="/home"> <h1 style="text-align: start;color: #8b00fc;font-size: 1rem;font-weight: bolder;padding-bottom: 10px;">            <img src="static/IMAGES/home-removebg-preview.png " style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
                            Acceuil</h1></a></li>
                        <li style="list-style-type: none;"><a style="text-decoration: none;color: #8b00fc;" href="/achat"><h1 style="text-align: start;color: #8b00fc;font-size: 1rem;font-weight: bolder;padding-bottom: 10px;"><img src="static/IMAGES/bou-removebg-preview.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt=""> Boutique</h1></a></li>
                        <li style="list-style-type: none;"><a style="text-decoration: none;color: #8b00fc;" href="/home"><h1 style="text-align: start;color: #8b00fc;font-size: 1rem;font-weight: bolder;padding-bottom: 10px;">            <img src="static/IMAGES/loupe.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
                            Recherche</h1></a></li>
                        <li style="list-style-type: none;"><a style="text-decoration: none;color: #8b00fc;" href="/profil"><h1 style="text-align: start;color: #8b00fc;font-size: 1rem;font-weight: bolder;padding-bottom: 10px;">   <img src="static/IMAGES/admmi-removebg-preview.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
                            Admin</h1></a></li>
                        <li style="list-style-type: none;"><a style="text-decoration: none;color: #8b00fc;" href="/sprome"><h1 style="text-align: start;color: #8b00fc;font-size: 1rem;font-weight: bolder;padding-bottom: 10px;">            <img src="static/IMAGES/dec-removebg-preview.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
                            Deconnexion</h1></a></li>

                    </ul>
                </nav>
            </div>

        </div>
        <div class="logo">
            <h1 style="padding-top: 10px;color: #8b00fc;font-size: 3rem;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">B</h1>
            <p style="font-size: 0.8rem;padding-top: 40px;color: rgb(196, 166, 196);">lay  Libray</p>
        </div>
        <div class="logo1">
            <img src="static/IMAGES/home-removebg-preview.png " style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
            
            <a href="/home" style="font-size: 0.8rem;padding-left: 10px;text-decoration: none;color: #570057;">Acceuil</a>

        </div>
        <div class="logo1">
            <img src="static/IMAGES/bou-removebg-preview.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
         
            <a href="/achat" style="font-size: 0.8rem;padding-left: 10px;text-decoration: none;color: #570057;">Boutique</a>

        </div>
        <div class="logo1">
            <img src="static/IMAGES/loupe.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
            <a href="/recherche" style="font-size: 0.8rem;padding-left: 10px;text-decoration: none;color: #570057;">Recherche</a>

        </div>
        <div class="logo1">
            <img src="static/IMAGES/contac-removebg-preview.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
            <a href="" style="font-size: 0.8rem;padding-left: 10px;text-decoration: none;color: #570057;">Contact</a>
        </div>
        <div class="logo2">
            <img src="static/IMAGES/admmi-removebg-preview.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
           
            <a href="/profil" style="font-size: 0.8rem;padding-left: 10px;text-decoration: none;color: #570057;">Admin</a>

        </div>
        <div class="logo3">
            <img src="static/IMAGES/dec-removebg-preview.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
           
            <a href="/sprome" style="padding-left: 10px;text-decoration: none;color: #570057;font-size: 0.8rem;">Déconnexion</a>

        </div>
    </div>
    <div class="navdroite">
        
    </div>
    
    <div class="page12">
        <h1 style="text-align: center;color: #8b00fc;font-size: 3rem;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;padding-bottom: 50px;">MON PANIER D'ARTICLES</h1>
        <div class="livres">
            
            {% for data in user %}
            <div class="livre1">
                <div class="livr1">
                    <img src="{{url_for('static', filename='IMAGES/nom.jpg')}}" width="100%" height="50%" alt="">

                </div>
                <div class="livr12">
                    <h1 style="font-size: 0.8rem;text-align: start;color: #6001ad;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;padding-bottom: 5px;">{{data.nom}} </h1>
                    <p style="font-size:0.5rem;">{{data.description}}</p>
                    <h1 style="font-size: 1rem;">{{data.prix}} FCFA</h1>
                </div>
                <form action="/suppanier" method="post">
                    <input style="opacity: 0;height: 0;width: 0;" type="text" name="nom" value="{{data.nom}}">
                    <input style="opacity: 0;height: 0;width: 0;" type="text" name="description" value="{{data.description}}">
                    <input style="opacity: 0;height: 0;width: 0;" type="text" name="description" value="{{data.mail}}">
                   
                    <div class="bours" style="display: flex;width: 80%;padding-left: 20px;border-radius: 40px;">
                        <a href="/Payement" class="achat" style="padding: 10px 25px; 
                        color: white;
                        text-decoration: none;
                        background-color: rgb(139, 0, 252);">acheter</a>
                        <button type="submit" style="background-color: red;border: none;color: white;padding: 5px 10px;display: flex;align-items: center;justify-content: start;width: 80%;gap: 15px;border: 2px solid red;"> 

                            <img style="filter: invert()" src="{{url_for('static', filename='IMAGES/poubelele.png')}}" height="25px"   alt="">
    
                        </button>
                    </div>
                    
                </form>
            </div>
            
            {% endfor %}
            
     

        </div>
        
        <div class="sac">

        </div>
    </div> 
    


    <div class="fixe">
        <div class="lofo">
            <strong><p style="color: rgba(162, 117, 204, 0.555);"><span style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 3rem;color: white">B</span>lay Library</p></strong>

        </div>
        <div class="lofo1">
            <nav>
                <ul>
                    <li>
                        <a href="/home" style="color: rgb(116, 116, 116);">Acceuil</a>
                    </li>
                    <li>
                        <a href="/achat" style="color: rgb(116, 116, 116);">Nos publications</a>
                    </li>
                    <li>
                        <a href="/home#apeo" style="color: rgb(116, 116, 116);">A propos de nous</a>
                    </li>
                    
                    <li>
                        <a style="padding: 15px 20px;background-color: white;color: #8c3ad8;border-radius: 10px;" href="/useprid">Compte</a>
                        
                    </li>
                    <li>
                        <a style="padding: 15px 20px;background-color: white;color: #8c3ad8;border-radius: 10px;" href="/panieruser"><img src="{{url_for('static', filename='IMAGES/charrete.png')}}" style="filter: invert(24%) sepia(50%) saturate(3691%) hue-rotate(260deg) brightness(95%) contrast(92%);" alt="" height="30px" width="30px"><span style="color:rgb(31, 255, 31);font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: bolder;font-size: 2rem;">0</span></a>
                        
                    </li>
                </ul>
            </nav>

        </div>
    </div>
    <div class="hre">
        <a style="padding: 25px 25px;background-color: white;color: rgb(245, 167, 0);border-radius: 5px;border: 1px solid rgb(245, 167, 0);" href="/add_data">INSCRIPTION</a>
        <a style="padding: 25px 25px;background-color: white;color: rgb(245, 167, 0);border-radius: 5px;border: 1px solid rgb(245, 167, 0)" href="/pre">CONNEXION</a>
        {% for data in user %}
            <div class="livre1">
                <div class="livr1">
                    <img src="{{url_for('static', filename='IMAGES/sac1.jpg')}}" width="100%" height="50%" alt="">

                </div>
                <div class="livr12">
                    <h1 style="font-size: 0.8rem;text-align: start;color: #6001ad;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;padding-bottom: 5px;">{{data.nom}} </h1>
                    <p style="font-size:0.5rem;">{{data.description}}</p>
                    <h1 style="font-size: 1rem;">{{data.prix}} FCFA</h1>
                </div>
                <form action="/suppanier" method="post">
                    <input style="opacity: 0;height: 0;width: 0;" type="text" name="nom" value="{{data.nom}}">
                    <input style="opacity: 0;height: 0;width: 0;" type="text" name="description" value="{{data.description}}">
                    <input style="opacity: 0;height: 0;width: 0;" type="text" name="description" value="{{data.mail}}">
                   
                    <div class="bours" style="display: flex;width: 80%;padding-left: 20px;border-radius: 40px;">
                        <a href="/Payement" class="achat" style="padding: 10px 25px; 
                        color: white;
                        text-decoration: none;
                        background-color: rgb(139, 0, 252);">acheter</a>
                        <button type="submit" style="background-color: red;border: none;color: white;padding: 5px 10px;display: flex;align-items: center;justify-content: start;width: 80%;gap: 15px;border: 2px solid red;"> 

                            <img style="filter: invert()" src="{{url_for('static', filename='IMAGES/poubelele.png')}}" height="25px"   alt="">
    
                        </button>
                    </div>
                    
                </form>
            </div>
            
            {% endfor %}
    </div>
</body>
</html>
 -->















<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon panier - Blay Library</title>
    <link rel="shortcut icon" href="static/IMAGES/blaye.jpeg">    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/CSS/panieruser.css">
</head>
<body>
    <div class="fixe">
        <div class="lofo" style="padding-left: 20px;">
            <strong><p style="color: #a275cc8e;"><span style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 3rem;color: #ffffff">B</span>lay Library</p></strong>

        </div>
        <div class="lofo1">
            <input type="checkbox" style="display: none;" name="" id="checkboxjh">
            <label for="checkboxjh">
                <img id="img" src="static/IMAGES/me.png" style="filter: invert();" alt="">
                
            </label>
            <div class="zeyrze" >
                <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: white;padding-top: 10px;padding-bottom: 50px;text-align: start;padding-left: 20px;">MENU</h1>
                <div class="poqsd" >

                    <img src="static/IMAGES/home-removebg-preview.png" style="filter: invert();height: 20px;"  alt="">
                    <a href="/home">
                        <p style="color: white;padding-left: 5px;">Acceuil</p>
                    </a>
                    

                </div>
                <div class="poqsd" >

                    <img src="static/IMAGES/modi.png" style="filter: invert();height: 20px;"  alt="">
                    <a href="/achat">
                        <p style="color: white;padding-left: 5px;">Nos publications</p>
                    </a>
                    

                </div>
                
                <div class="poqsd" >

                    <img src="static/IMAGES/contac-removebg-preview.png" style="filter: invert();height: 20px;"  alt="">
                    <a href="/home#apeo">
                        <p style="color: white;padding-left: 5px;">À propos de nous</p>
                    </a>
                    

                </div>
                <div class="poqsd" >

                    <img src="static/IMAGES/charrete.png" style="filter: invert();height: 20px;"  alt="">
                        <a href="/panieruser">
                            <p style="color: rgb(156, 9, 224);padding-left: 5px;">Mon panier {% if user%}
                                <span style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: bolder;font-size: 1rem;color: rgb(31, 255, 31);width: 20px;width: 20px;border-radius: 100%;">{{user[0]}}</span>
                                {% endif %}</p>
                        </a>
                    

                </div>
                <div class="poqsd" >

                    <img src="static/IMAGES/pay.png" style="filter: invert();height: 20px;"  alt="">
                    <a href="/useprid">
                        <p style="color: white;padding-left: 5px;">Mon compte</p>
                    </a>
                    

                </div>
                <div class="poqsd" >

                    <img src="static/IMAGES/dec-removebg-preview.png" style="filter: invert();height: 20px;"  alt="">
                    <a href="/deconnexion">
                        <p style="color: white;padding-left: 5px;">Déconnexion</p>
                    </a>
                    

                </div>
                
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/home" style="color: white;">Acceuil</a>
                    </li>
                    <li>
                        <a href="/achat" style="color: white;">Nos publications</a>
                    </li>
                    <li>
                        <a href="/home#apeo" style="color: white;">À propos de nous</a>
                    </li>
                    <li>
                        <a href="/home#Contactez" style="color: white;">Contactez - nous</a>
                    </li>
                    <li>
                        <a style="padding: 15px 20px;background-color: rgb(90, 7, 163);color: white;border-radius: 10px;" href="/useprid">Mon compte</a>
                        
                    </li>
                    <li>
                        <a style="padding: 15px 20px;background-color: rgb(90, 7, 163);color: rgb(31, 255, 31);border-radius: 10px;" href="/panieruser"><img src="{{url_for('static', filename='IMAGES/charrete.png')}}" style="filter: invert(24%) sepia(50%) saturate(3691%) hue-rotate(260deg) brightness(95%) contrast(92%);" alt="" height="30px" width="30px">
                            {% if user%}
                            <span style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: bolder;font-size: 2rem;">{{user[0]}}</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
    <div class="recu">
        <h1 style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: rgb(140, 58, 216);padding-bottom: 50px;">INFORMATIONS DE COMMANDE</h1>

        <div class="images">
            <img src="{{url_for('static', filename='IMAGES/detal.jpg')}}" width="250px" height="250px">
        </div>
        <p id="res">Ici sont les informations de votre commande</p>
        <div class="carae">
            <div class="pre">
                <p style="font-weight: bolder">Nom du produit</p>
            </div>
            <div class="cat">
                <p>Qté</p>

            </div>
            <div class="prix">
                <p>Prix</p>

            </div>
        </div>
        {% for i in user[1] %}
        <form action="/suppanier" method="post"  id="article">
            <input style="opacity: 0;height: 0;width: 0;" type="text" name="nom" value="{{i.nom}}">
            <input style="opacity: 0;height: 0;width: 0;"  type="text" name="description" value="{{i.description}}">
            <input style="opacity: 0;height: 0;width: 0;"  type="text" name="mail" value="{{i.mail}}">
            <input style="opacity: 0;height: 0;width: 0;"  type="text" name="prix" value="{{i.prix}}">
            
            <button type="submit" class="carae1" >
                <div class="pre1">
                    <img src="{{url_for('static', filename='uploads/' + i.image)}}" width="80px" height="80px" alt="">
    
    
                    <p style="text-align: start;padding-left: 20px;" >{{i.nom}}</p>
                </div>
                <div class="cat1">
                    <p style="font-weight: bolder;color: black;">{{i.qutite}}</p>
    
                </div>
                <div class="prix1">
                    <p style="font-weight: bolder;color: rgb(245, 10, 10);">{{i.prix}} F</p>
    
                </div>
            </button>
            <!-- <a href="#" class="carae1" type="submit">
                <div class="pre1">
                    <img src="{{url_for('static', filename='uploads/' + i.image)}}" width="80px" height="80px" alt="">
    
    
                    <p style="text-align: start;padding-left: 20px;" >{{i.nom}}</p>
                </div>
                <div class="cat1">
                    <p style="font-weight: bolder;color: black;">1</p>
    
                </div>
                <div class="prix1">
                    <p style="font-weight: bolder;color: rgb(245, 10, 10);">{{i.prix}} F</p>
    
                </div>
                
            </a> -->
            
        </form>
        
        {% endfor %}
        
        
        
        
        <div class="oiur" id="aze">
            <p>TVA :</p>
            
            <p>{{user[3]}} FCFA</p>
        </div>
        <div class="oiur">
            <p>Frais:</p>
            <p>{{user[4]}} FCFA</p>
        </div>
        <div class="oiur">
            <p>Dons :</p>
            <p>{{user[5]}} FCFA</p>
        </div>
        {% if user %}
        <div class="oiur">
            <p style="font-weight: bolder;color: black;">Cout Total :</p>
            <p style="font-weight: bolder;color: rgb(245, 10, 10);">{{user[2]}} FCFA</p>
        </div>
        {% endif %}
    </div>
    <div class="infor">
        <a href="/Payement">Cliquez ici pour payer la commande </a>
    </div>
    <!-- <div class="hre">
        <h1 style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: rgb(140, 58, 216);padding-bottom: 50px;">MON PANIER</h1>
        {% for data in user[1] %}
        <div class="nkqekj">
            <div class="retyu2">
                <img src="{{url_for('static', filename='uploads/' + data.image)}}" height="300px" width="250px" alt="">

            </div>
            <div class="retyu1">
                
                
                <h1 style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: bolder;font-size: 2rem;text-transform: uppercase;">{{data.nom}}</h1>
                <h1 style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: bolder;color: rgb(140, 58, 216);padding-bottom: 20px;font-size: 2rem;text-transform: uppercase;">{{data.prix}} FCFA</h1>
                <p style="margin-bottom: 20px;">{{data.description}}</p>
                <p style="opacity: 0;">{{data.mail}}</p>
                <form action="/suppanier" method="post" style="background-color: white;display: flex;justify-content: start;">
                    <input style="opacity: 0;height: 0;width: 0;" type="text" name="nom" value="{{data.nom}}">
                    <input style="opacity: 0;height: 0;width: 0;"  type="text" name="description" value="{{data.description}}">
                    <input style="opacity: 0;height: 0;width: 0;"  type="text" name="mail" value="{{data.mail}}">
                    <input style="opacity: 0;height: 0;width: 0;"  type="text" name="prix" value="{{data.prix}}">
                    
                    <button type="submit" id="pansup"><img src="{{url_for('static', filename='IMAGES/poubelele.png')}}" alt="" ></button>
                    
                    
                </form>
                
            </div>
           
        </div>
        {% endfor %}
        {% if user%}
           
            <a href="/Payement" id="gh" style="display: flex;align-items: center;justify-content: center;gap: 5px;">
                <span style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: bolder;font-size: 1.2rem;">{{user[2]}} FCFA TOUT ACHETER
                </span>  
                <img src="{{url_for('static', filename='IMAGES/pay.png')}}"  alt="" >
            </a>

        {% endif %}
    </div> -->
</body>
</html>
