
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/CSS/profil.css">
    <title>Document</title>
</head>
<body>
    <div class="ajoutons" >
        <div class="eduz">
           
            <a href="/add_data" >Inscrire un utilisateur</a>
            <h3>J'AJOUTE UN NOUVEAU UTILISATEUR</h3>
        </div>
        <div class="sys">
            
            <a href="/add_objet" >Ajouter de produit</a>
            <h3>AJOUTER UN PRODUIT</h3>
        </div>
        <div class="sys">
            
            <a href="/achat" >Voir mes articles</a>
            <h3>voir mes articles</h3>
        </div>
    </div>
  
    
    <br>
    

    <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">MES PRODUITS EN LIGNE</h1>

    <table>
     
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>PRIX</th>
            
        </thead>
        {% for data in profil %}
        <tbody >
            <td>{{data.id}}</td>
            <td>{{data.nom}}</td>
            <td>{{data.description}}</td>
            <td>{{data.prix}}</td>
            <td ><a href="/deletearticles/{{data.id}}" class="suppr">SUPPRIMER</a></td>
            <!-- <td ><a href="/update/{{data.id}}" class="modif">MODIFIER</a></td> -->
            
        </tbody>
        {% endfor %}
        
       
    
    </table>
</body>
</html>

