<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche</title>
    <link rel="shortcut icon" href="static/IMAGES/blaye.jpeg">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/CSS/achat.css">

</head>
<body>
    <div class="fixe">
        <div class="lofo" style="padding-left: 20px;">
            <strong><p style="color: #a275cc8e;"><span id="blay" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 3rem;">B</span>lay Library</p></strong>

        </div>
        <div class="lofo1">
            <div class="nu" style="position: fixed;top: 15px;right: 90px;width: 20px;height: 20px;background-color: rgb(90, 7, 163);z-index: 3;text-align: center;border-radius: 100%;color: white;font-size: 0.8rem;display: flex;justify-content: center;align-items: center;" >
                {% if ae%}
                <p style="font-weight: bolder;">{{ae[0]}}</p>
                {% endif %}
            </div>
            
            <img id="gfghjh" src="static/IMAGES/panierr.png" width="55px"  style="position: fixed;top: 20px;right: 70px;filter: invert(13%) sepia(93%) saturate(5402%) hue-rotate(273deg) brightness(64%) contrast(109%);" alt="">

            <!-- <input type="checkbox" style="display: none;" name="" id="checkboxjh">
            <label for="checkboxjh">
                <img id="img" src="static/IMAGES/me.png" style="filter: invert(13%) sepia(93%) saturate(5402%) hue-rotate(273deg) brightness(64%) contrast(109%);"  alt="">
                
            </label> -->
            
            <img id="commander" src="static/IMAGES/me.png" style="filter: invert(13%) sepia(93%) saturate(5402%) hue-rotate(273deg) brightness(64%) contrast(109%);"  alt="">
            <div class="zeyrze" >
                <div class="rempvae">
                    <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: white;padding-top: 10px;padding-left: 20px;padding-bottom: 50px;">MENU</h1>
                    <div class="poqsd" >
    
                        <img src="static/IMAGES/home-removebg-preview.png" style="filter: invert();height: 20px;"  alt="">
                        <a href="/home">
                            <p style="color: white;padding-left: 5px;">Acceuil</p>
                        </a>
                        
    
                    </div>
                    <div class="poqsd" >
    
                        <img src="static/IMAGES/modi.png" style="filter: invert();height: 20px;"  alt="">
                        <a href="/achat">
                            <p style="color: rgb(156, 9, 224);padding-left: 5px;">Nos publications</p>
                        </a>
                        
    
                    </div>
                    
                    <div class="poqsd" >
    
                        <img src="static/IMAGES/contac-removebg-preview.png" style="filter: invert();height: 20px;"  alt="">
                        <a href="/home#apeo">
                            <p style="color: white;padding-left: 5px;">À propos de nous</p>
                        </a>
                        
    
                    </div>
                    <div class="poqsd" >
    
                        <img src="static/IMAGES/charrete.png" style="filter: invert();height: 20px;"  alt="">
                            <a href="/panieruser">
                                <p style="color: white;padding-left: 5px;">Mon panier {% if ae%}
                                    <span style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: bolder;font-size: 1rem;color: rgb(31, 255, 31);width: 20px;width: 20px;border-radius: 100%;">{{ae[0]}}</span>
                                    {% endif %}</p>
                            </a>
                        
    
                    </div>
                    <div class="poqsd" >
    
                        <img src="static/IMAGES/pay.png" style="filter: invert();height: 20px;"  alt="">
                        <a href="/useprid">
                            <p style="color: white;padding-left: 5px;">Mon compte</p>
                        </a>
                        
    
                    </div>
                    <div class="poqsd" >
    
                        <img src="static/IMAGES/dec-removebg-preview.png" style="filter: invert();height: 20px;"  alt="">
                        <a href="/deconnexion">
                            <p style="color: white;padding-left: 5px;">Déconnexion</p>
                        </a>
                        
    
                    </div>
                </div>
                
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/home" style="color: white;">Acceuil</a>
                    </li>
                    <li>
                        <a href="/achat" style="padding: 15px 20px;background-color: rgb(90, 7, 163);color: rgb(156, 9, 224);border-radius: 10px;color: rgb(156, 9, 224);">Nos publications</a>
                    </li>
                    <li>
                        <a href="/home#apeo" style="color: white;">À propos de nous</a>
                    </li>
                    <li>
                        <a href="/home#Contactez" style="color: white;">Contactez - nous</a>
                    </li>
                    <li>
                        <a style="padding: 15px 20px;background-color: rgb(90, 7, 163);color: white;border-radius: 10px;" href="/useprid">Mon compte</a>
                        
                    </li>
                    <li>
                        <a style="padding: 15px 20px;background-color: rgb(90, 7, 163);color: rgb(31, 255, 31);border-radius: 10px;" href="/panieruser"><img src="{{url_for('static', filename='IMAGES/charrete.png')}}" style="filter: invert();" alt="" height="30px" width="30px">
                            {% if ae%}
                            <span style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: bolder;font-size: 2rem;">{{ae[0]}}</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
    {% if ae%}
    <p style="padding-bottom: 40px;">Resultat de recherche<span style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: bolder;color: rgb(140, 58, 216);padding-bottom: 20px;text-align: center;"> " {{ae[2]}} "</span></p>
    {% endif %}

    <div class="hre">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            
            <div class="reoip" style="width: 100%;height: 500px;margin: 0 auto;display: flex;align-items: center;justify-content: center;flex-direction: column;padding-top: 100px;">
                <ul style="text-align: center;">
                    {% for message in messages %}
                    <li style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: rgb(90, 7, 163);padding-bottom: 50px;"><h1>{{ message }}</h1>  </li>
                    {% endfor %}
                </ul>
                <img src="{{url_for('static', filename='IMAGES/pub.jpg')}}" width="300px" height="300px" alt="">
                <a href="/achat" style="margin-top: 50px;"><img src="{{url_for('static', filename='IMAGES/refresh.png')}}" width="30px" height="30px" alt="">
                </a>
            </div>
            {% endif %}
            {% endwith %}

        
        {% for data in ae[1] %}
        <div class="imoer1">
            <div class="imoaeImage">
                <img src="{{url_for('static', filename='uploads/' + data.image)}}" height="130px" width="150px" alt="">
            </div>
            <div class="imoaeInfo">
                
                <h1 style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: bolder;font-size: 1rem;text-transform: uppercase;">{{data.nom}}</h1>
                
                <p style="margin-bottom: 10px;color: rgb(146, 143, 143);font-size: 0.7rem;">{{data.description}}</p>

                <h1 style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: bolder;color: rgb(90, 7, 163);padding-bottom: 20px;font-size: 1rem;text-transform: uppercase;">{{data.prix}} FCFA</h1>
            </div>
            <div class="imoaeBout">
                <form action="/new" method="post" >
                    <input style="opacity: 0;height: 0;width: 0;" type="text" name="nom" value="{{data.nom}}">
                    <input style="opacity: 0;height: 0;width: 0;"  type="text" name="desc" value="{{data.description}}">
                    <input style="opacity: 0;height: 0;width: 0;"  type="text" name="prix" value="{{data.prix}}">
                    <input style="opacity: 0;height: 0;width: 0;"  type="text" name="image" value="{{data.image}}">
                    <button type="submit" id="addpa" ><p style="font-size: 0.7rem;">AJOUTER AU PANIER</p>
                    </button>
                    
                </form>
                <!-- <img src="{{url_for('static', filename='IMAGES/charrete.png')}}" style="filter: invert();" alt="" height="30px" width="30px" id="addpa"> -->
                <!-- <a style="padding: 15px 20px;background-color: rgb(90, 7, 163);color: rgb(31, 255, 31);border-radius: 10px;" href="/panieruser"><img src="{{url_for('static', filename='IMAGES/charrete.png')}}" style="filter: invert();" alt="" height="30px" width="30px" id="addpa">
                    {% if ae%}
                    <span style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: bolder;font-size: 2rem;">{{ae[0]}}</span>
                    {% endif %}
                </a> -->
            </div> 
        </div>
        {% endfor %}
        
        
       

    </div>
   
</body>
</html>