






<!-- //templates/index.html
<html>
<head>
<title>Python Flask Upload and display image</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<p><h1 align="center">Python Flask Upload and display image</h1></p>
<div class="container">
<div class="row">
    <h2>Select a file to upload</h2>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
    {% if filename %}
        <div>
            <img src="{{ url_for('display_image', filename=filename) }}">
        </div>
    {% endif %}
    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>
    </form>
</div>
</div>
</body>
</html> -->





<!-- 

//templates/index.html
<html>
<head>
<title>Python Flask Upload and display image</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<p><h1 align="center">Python Flask Upload and display image</h1></p>
<div class="container">
<div class="row">
    <h2>Select a file to upload</h2>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
    {% if filename %}
        <div>
            <img src="{{ url_for('display_image', filename=filename) }}"> 
        </div>
    {% endif %}

    filename = response -->
    <!-- <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>
    </form>
</div>
</div>
</body>
</html> -->











<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/CSS/achat.css">

</head>
<body>
    <div class="navhaut">
        <div class="reche1">
            
            <form action="" method="POST" style="width: 100%;display: flex;align-items: center;justify-content: center;transform: translateX(200px);">
                <input type="text" name="prompt" id="prompt" placeholder="Faites vos recherces ici et maintenant">
                
                <input type="submit" value="Valider" placeholder="Recherche" style="height: 0px;width: 0px;background-color: #570057;color: white;border-radius: 1px;display: none;align-items: center;justify-content: center;">
            </form>
        </div>
        <div class="reche2">
            <div class="notif">
                
            </div>
            <div class="panie">
                <a href="/panieruser"><p style="opacity: 0;">.</p></a>
            </div>
            <div class="profil" >
                <a href="/useprid"><p style="opacity: 0;">.</p></a>
            </div>
        </div>
    </div>
    <div class="navgauche">
        <div class="logoa" style="text-align: center;padding-top: 30px;">
            <input type="checkbox" style="display: none;" name="" id="cliquer">
            <label for="cliquer">
                <img src="static/IMAGES/me.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
            </label>
            <div class="lishd">
                <nav>
                    <ul>
                        <li style="list-style-type: none;"><a style="text-decoration: none;color: #8b00fc;" href="/home"> <h1 style="text-align: start;color: #8b00fc;font-size: 1rem;font-weight: bolder;padding-bottom: 10px;">            <img src="static/IMAGES/home-removebg-preview.png " style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
                            Acceuil</h1></a></li>
                        <li style="list-style-type: none;"><a style="text-decoration: none;color: #8b00fc;" href="/achat"><h1 style="text-align: start;color: #8b00fc;font-size: 1rem;font-weight: bolder;padding-bottom: 10px;"><img src="static/IMAGES/bou-removebg-preview.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt=""> Boutique</h1></a></li>
                        <li style="list-style-type: none;"><a style="text-decoration: none;color: #8b00fc;" href="/home"><h1 style="text-align: start;color: #8b00fc;font-size: 1rem;font-weight: bolder;padding-bottom: 10px;">            <img src="static/IMAGES/loupe.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
                            Recherche</h1></a></li>
                        <li style="list-style-type: none;"><a style="text-decoration: none;color: #8b00fc;" href="/profil"><h1 style="text-align: start;color: #8b00fc;font-size: 1rem;font-weight: bolder;padding-bottom: 10px;">   <img src="static/IMAGES/admmi-removebg-preview.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
                            Admin</h1></a></li>
                        <li style="list-style-type: none;"><a style="text-decoration: none;color: #8b00fc;" href="/sprome"><h1 style="text-align: start;color: #8b00fc;font-size: 1rem;font-weight: bolder;padding-bottom: 10px;">            <img src="static/IMAGES/dec-removebg-preview.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
                            Deconnexion</h1></a></li>

                    </ul>
                </nav>
            </div>

        </div>
        <div class="logo">
            <h1 style="padding-top: 10px;color: #8b00fc;font-size: 3rem;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">B</h1>
            <p style="font-size: 0.8rem;padding-top: 40px;color: rgb(196, 166, 196);">lay  Libray</p>
        </div>
        <div class="logo1">
            <img src="static/IMAGES/home-removebg-preview.png " style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
            
            <a href="/home" style="font-size: 0.8rem;padding-left: 10px;text-decoration: none;color: #570057;">Acceuil</a>

        </div>
        <div class="logo1">
            <img src="static/IMAGES/bou-removebg-preview.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
         
            <a href="/achat" style="font-size: 0.8rem;padding-left: 10px;text-decoration: none;color: #570057;">Boutique</a>

        </div>
        <div class="logo1">
            <img src="static/IMAGES/loupe.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
            <a href="/recherche" style="font-size: 0.8rem;padding-left: 10px;text-decoration: none;color: #570057;">Recherche</a>

        </div>
        <div class="logo1">
            <img src="static/IMAGES/contac-removebg-preview.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
            <a href="" style="font-size: 0.8rem;padding-left: 10px;text-decoration: none;color: #570057;">Contact</a>
        </div>
        <div class="logo2">
            <img src="static/IMAGES/admmi-removebg-preview.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
           
            <a href="/profil" style="font-size: 0.8rem;padding-left: 10px;text-decoration: none;color: #570057;">Admin</a>

        </div>
        <div class="logo3">
            <img src="static/IMAGES/dec-removebg-preview.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
           
            <a href="/sprome" style="padding-left: 10px;text-decoration: none;color: #570057;font-size: 0.8rem;">Déconnexion</a>

        </div>
    </div>
    <div class="navdroite">
        
    </div>
    
    <div class="page12">
        <h1 style="text-align: center;color: #8b00fc;font-size: 3rem;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;padding-bottom: 50px;">Mes recherches</h1>
        <div class="livres">
        
        
        <div id="image-container">
            {% if image_url %}
                <img src="{{ image_url }}" width="60%" alt="Image">
                
            {% endif %}
        </div>
           
     

        </div>
        
        <div class="sac">

        </div>
    </div>
    <!-- <div class="page">
        <div class="page1">
       
        </div>
        <div class="page1">
           
        </div>
        <div class="page1">
    
        </div>
    </div> -->
</body>
</html>




