<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for data in rer %}
            <div class="livre1" style="width: 500px;height: 500px;background-color: aqua;">
                <img src="{{data.image}}" alt="" width="300px" height="300px">
            </div>
            
            {% endfor %}

    <div id="image-container">
        {% if image_url %}
            <img src="{{ image_url }}" width="60%" alt="Image">
            
        {% endif %}
    </div>
</body>
</html>