<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/CSS/achat.css">

</head>
<body>
    <div class="navhaut">
        <div class="reche1">
            <input type="text" name="" id="" placeholder="Faites vos recherces ici et maintenant">
        </div>
        <div class="reche2">
            <div class="notif">
                
            </div>
            <div class="panie">
                <a href="/panieruser"><p style="opacity: 0;">.</p></a>
            </div>
            <div class="profil" >
                <a href="/useprid"><p style="opacity: 0;">.</p></a>
            </div>
        </div>
    </div>
    <div class="navgauche">
        
        <div class="logoa" style="text-align: center;padding-top: 30px;">
            <input type="checkbox" style="display: none;" name="" id="cliquer">
            <label for="cliquer">
                <img src="static/IMAGES/me.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
            </label>
            <div class="lishd">
                <nav>
                    <ul>
                        <li style="list-style-type: none;"><a style="text-decoration: none;color: #8b00fc;" href="/home"> <h1 style="text-align: start;color: #8b00fc;font-size: 1rem;font-weight: bolder;padding-bottom: 10px;">            <img src="static/IMAGES/home-removebg-preview.png " style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
                            Acceuil</h1></a></li>
                        <li style="list-style-type: none;"><a style="text-decoration: none;color: #8b00fc;" href="/achat"><h1 style="text-align: start;color: #8b00fc;font-size: 1rem;font-weight: bolder;padding-bottom: 10px;"><img src="static/IMAGES/bou-removebg-preview.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt=""> Boutique</h1></a></li>
                        <li style="list-style-type: none;"><a style="text-decoration: none;color: #8b00fc;" href="/home"><h1 style="text-align: start;color: #8b00fc;font-size: 1rem;font-weight: bolder;padding-bottom: 10px;">            <img src="static/IMAGES/loupe.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
                            Recherche</h1></a></li>
                        <li style="list-style-type: none;"><a style="text-decoration: none;color: #8b00fc;" href="/profil"><h1 style="text-align: start;color: #8b00fc;font-size: 1rem;font-weight: bolder;padding-bottom: 10px;">   <img src="static/IMAGES/admmi-removebg-preview.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
                            Admin</h1></a></li>
                        <li style="list-style-type: none;"><a style="text-decoration: none;color: #8b00fc;" href="/sprome"><h1 style="text-align: start;color: #8b00fc;font-size: 1rem;font-weight: bolder;padding-bottom: 10px;">            <img src="static/IMAGES/dec-removebg-preview.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
                            Deconnexion</h1></a></li>

                    </ul>
                </nav>
            </div>

        </div>
        <div class="logo">
            <h1 style="padding-top: 10px;color: #8b00fc;font-size: 3rem;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">B</h1>
            <p style="font-size: 0.8rem;padding-top: 40px;color: rgb(196, 166, 196);">lay  Libray</p>
        </div>
        <div class="logo1">
            <img src="static/IMAGES/home-removebg-preview.png " style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
            
            <a href="/home" style="font-size: 0.8rem;padding-left: 10px;text-decoration: none;color: #570057;">Acceuil</a>

        </div>
        <div class="logo1">
            <img src="static/IMAGES/bou-removebg-preview.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
         
            <a href="/achat" style="font-size: 0.8rem;padding-left: 10px;text-decoration: none;color: #570057;">Boutique</a>

        </div>
        <div class="logo1">
            <img src="static/IMAGES/loupe.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
            <a href="/recherche" style="font-size: 0.8rem;padding-left: 10px;text-decoration: none;color: #570057;">Recherche</a>

        </div>
        <div class="logo1">
            <img src="static/IMAGES/contac-removebg-preview.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
            <a href="" style="font-size: 0.8rem;padding-left: 10px;text-decoration: none;color: #570057;">Contact</a>
        </div>
        <div class="logo2">
            <img src="static/IMAGES/admmi-removebg-preview.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
           
            <a href="/profil" style="font-size: 0.8rem;padding-left: 10px;text-decoration: none;color: #570057;">Admin</a>

        </div>
        <div class="logo3">
            <img src="static/IMAGES/dec-removebg-preview.png" style="filter: invert(10%) sepia(98%) saturate(6704%) hue-rotate(275deg) brightness(102%) contrast(120%);" height="20px" alt="">
           
            <a href="/sprome" style="padding-left: 10px;text-decoration: none;color: #570057;font-size: 0.8rem;">Déconnexion</a>

        </div>
    </div>
    <div class="navdroite">
        
    </div>
    
    <div class="page12">
        <h1 style="text-align: center;color: #8b00fc;font-size: 3rem;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;padding-bottom: 50px;">MON PROFIL</h1>

        <div class="liv" >


            {% for data in user %}
            <h1 style="text-align: center;color: white;font-size: 1.5rem;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"> <span>Nom & Prénom</span> <br> {{data.first_name}}</h1>


            <h1 style="text-align: center;color: white;font-size: 1.5rem;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><span>E-mail</span> <br>{{data.last_name}}</h1>


            <h1 style="text-align: center;color: white;font-size: 1.5rem;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><span >Mot de passe</span> <br>{{data.age}}</h1>
            {% endfor %}


        </div>
        <div class="livres">
            {% for data in user %}
            <div class="livre1">
                <div class="livr1">
                    <img src="{{url_for('static', filename='IMAGES/nom.jpg')}}" width="100%" height="50%" alt="">

                </div>
                <div class="livr12">
                    <h1 style="font-size: 0.8rem;text-align: start;color: #8b00fc;">{{data.first_name}}</h1>
                    <p style="font-size:0.5rem;">{{data.last_name}}</p>
                    <h1 style="font-size: 1rem;">{{data.age}}</h1>
                </div>
                <div class="livr123">
                    <a href="/delete/{{data.id}}" class="achat">acheter</a>
                    
                    <a href="">
                        <img src="../image/panierr.png" width="30px" style="padding-bottom: 10px;padding-right: 5px;" alt="">
                    </a>
                </div>
            </div>
            
            {% endfor %}
            
     

        </div>
        
        <div class="sac">

        </div>
    </div>
    
</body>
</html> -->





















<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon profil - Blay Library</title>
    <link rel="shortcut icon" href="static/IMAGES/blaye.jpeg">    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/CSS/userprid.css">

</head>
<body>
    
    

    
    <div class="fixe">
        <div class="lofo" style="padding-left: 20px;">
            <strong><p style="color: #a275cc8e;"><span style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 3rem;color: #ffffff">B</span>lay Library</p></strong>

        </div>
        <div class="lofo1">
            <input type="checkbox" style="display: none;" name="" id="checkboxjh">
            <label for="checkboxjh">
                <img id="img" src="static/IMAGES/me.png" style="filter: invert();" alt="">
                
            </label>
            <div class="zeyrze" >
                <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: white;padding-top: 10px;padding-bottom: 50px;text-align: start;padding-left: 20px;">MENU</h1>
                <div class="poqsd" >

                    <img src="static/IMAGES/home-removebg-preview.png" style="filter: invert();height: 20px;"  alt="">
                    <a href="/home">
                        <p style="color: white;padding-left: 5px;">Acceuil</p>
                    </a>
                    

                </div>
                <div class="poqsd" >

                    <img src="static/IMAGES/modi.png" style="filter: invert();height: 20px;"  alt="">
                    <a href="/achat">
                        <p style="color: white;padding-left: 5px;">Nos publications</p>
                    </a>
                    

                </div>
                
                <div class="poqsd" >

                    <img src="static/IMAGES/contac-removebg-preview.png" style="filter: invert();height: 20px;"  alt="">
                    <a href="/home#apeo">
                        <p style="color: white;padding-left: 5px;">À propos de nous</p>
                    </a>
                    

                </div>
                <div class="poqsd" >

                    <img src="static/IMAGES/charrete.png" style="filter: invert();height: 20px;"  alt="">
                        <a href="/panieruser">
                            <p style="color: white;padding-left: 5px;">Mon panier {% if ae%}
                                <span style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: bolder;font-size: 1rem;color: rgb(31, 255, 31);width: 20px;width: 20px;border-radius: 100%;">{{ae[0]}}</span>
                                {% endif %}</p>
                        </a>
                    

                </div>
                <div class="poqsd" >

                    <img src="static/IMAGES/pay.png" style="filter: invert();height: 20px;"  alt="">
                    <a href="/useprid">
                        <p style="color: rgb(156, 9, 224);padding-left: 5px;">Mon compte</p>
                    </a>
                    

                </div>
                <div class="poqsd" >

                    <img src="static/IMAGES/dec-removebg-preview.png" style="filter: invert();height: 20px;"  alt="">
                    <a href="/deconnexion">
                        <p style="color: white;padding-left: 5px;">Déconnexion</p>
                    </a>
                    

                </div>
                
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/home" style="color: white;">Acceuil</a>
                    </li>
                    <li>
                        <a href="/achat" style="color: white;">Nos publications</a>
                    </li>
                    <li>
                        <a href="/home#apeo" style="color: white;">À propos de nous</a>
                    </li>
                    <li>
                        <a href="/home#Contactez" style="color: white;">Contactez - nous</a>
                    </li>
                    <li>
                        <a style="padding: 15px 20px;background-color: rgb(90, 7, 163);color: rgb(156, 9, 224);border-radius: 10px;" href="/useprid">Mon compte</a>
                        
                    </li>
                    <li>
                        <a style="padding: 15px 20px;background-color: rgb(90, 7, 163);color: rgb(31, 255, 31);border-radius: 10px;" href="/panieruser"><img src="{{url_for('static', filename='IMAGES/charrete.png')}}" style="filter: invert();" alt="" height="30px" width="30px">
                            {% if ae%}
                            <span style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: bolder;font-size: 2rem;">{{ae[0]}}</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
    <!-- <div class="fixe">
        <div class="lofo">
            <strong><p style="color: rgba(162, 117, 204, 0.555);"><span style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 3rem;color: white">B</span>lay Library</p></strong>

        </div>
        <div class="lofo1">
            <div class="dfghj">
                <input type="checkbox" style="display: none;" name="" id="checkboxjh">
                <label for="checkboxjh">
                    <img id="img" src="static/IMAGES/me.png" style="filter: invert();" alt="">
                    
                </label>
                <div class="zeyrze" >
                    <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: white;padding-top: 10px;padding-left: 20px;padding-bottom: 50px;">MENU</h1>
                    <div class="poqsd" >

                        <img src="static/IMAGES/home-removebg-preview.png" style="filter: invert();height: 20px;"  alt="">
                        <a href="/home">
                            <p style="color: white;padding-left: 5px;">Acceuil</p>
                        </a>
                        

                    </div>
                    <div class="poqsd" >

                        <img src="static/IMAGES/modi.png" style="filter: invert();height: 20px;"  alt="">
                        <a href="/achat">
                            <p style="color: white;padding-left: 5px;">Nos publications</p>
                        </a>
                        

                    </div>
                    
                    <div class="poqsd" >

                        <img src="static/IMAGES/contac-removebg-preview.png" style="filter: invert();height: 20px;"  alt="">
                        <a href="/home#apeo">
                            <p style="color: white;padding-left: 5px;">À propos de nous</p>
                        </a>
                        

                    </div>
                    <div class="poqsd" >

                        <img src="static/IMAGES/charrete.png" style="filter: invert();height: 20px;"  alt="">
                        <a href="/panieruser">
                            <p style="color: white;padding-left: 5px;">Mon panier {% if ae%}
                                <span style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: bolder;font-size: 1rem;color: rgb(31, 255, 31);width: 20px;width: 20px;border-radius: 100%;">{{ae[0]}}</span>
                                {% endif %}</p>
                        </a>
                        

                    </div>
                    <div class="poqsd" >

                        <img src="static/IMAGES/pay.png" style="filter: invert();height: 20px;"  alt="">
                        <a href="/useprid">
                            <p style="color: rgb(156, 9, 224);padding-left: 5px;">Mon compte</p>
                        </a>
                        

                    </div>
                    <div class="poqsd" >

                        <img src="static/IMAGES/dec-removebg-preview.png" style="filter: invert();height: 20px;"  alt="">
                        <a href="/deconnexion">
                            <p style="color: white;padding-left: 5px;">Déconnexion</p>
                        </a>
                        

                    </div>
                    
                </div>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/home" style="color: white;">Acceuil</a>
                    </li>
                    <li>
                        <a href="/achat" style="color: white;">Nos publications</a>
                    </li>
                    <li>
                        <a href="/home#apeo" style="color: white;">À propos de nous</a>
                    </li>
                    <li>
                        <a href="/home#Contactez" style="color: white;">Contactez - nous</a>
                    </li>
                    <li>
                        <a style="padding: 15px 20px;background-color: rgb(90, 7, 163);color: rgb(156, 9, 224);border-radius: 10px;color: rgb(156, 9, 224);" href="/useprid">Mon compte</a>
                        
                    </li>
                    
                    
                    <li>
                        <a style="padding: 15px 20px;background-color: rgb(90, 7, 163);color: rgb(31, 255, 31);border-radius: 10px;" href="/panieruser"><img src="{{url_for('static', filename='IMAGES/charrete.png')}}" style="filter: invert();" alt="" height="30px" width="30px">
                            {% if ae%}
                            <span style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: bolder;font-size: 2rem;">{{ae[0]}}</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div> -->
    <div class="hre">
        
        
    </div>
   
    <div class="ghj">
        <div class="fghxzd">
            <div class="ronedte">
                
            </div>
            <div class="ronedte1">
                <h1 style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: bolder;text-align: center;text-transform: uppercase;">{{ae[1].first_name}}</h1>
                <p style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;text-align: center;color: gray;">{{ae[1].last_name}}</p>
            </div>
            <div class="erjkz">

                <a href="/updater/{{ae[1].id}}" style="text-align: center;height: 60px;width: 300px;background-color: rgb(90, 7, 163);color: white;padding-top: 15px;" >Mise a jour de mes informations</a>
            </div>  
            <h1 style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: bolder;text-align: center;color: rgb(90, 7, 163)">NOTIFICATIONS</h1>
            {% if not ae[2] %}
            <h3 style="text-align: center;color: rgb(211, 205, 205);margin-bottom: 100px;">Aucune notification pour le moments .</h3>
            {% endif %}
            {% for i in ae[2] %}
            <div class="notiffq">
                <div class="a">
                    <div class="no">
                        <div class="img">
                            <img src="{{url_for('static', filename='uploads/' + i.image)}}" width="150px"  alt="">
                           
                            
                        </div>
                        <div class="img1">
                            <p style="font-weight: bolder;color: rgb(54, 204, 54);">Félicitation votre commande a été prise en compte .</p>
                            <p>Vous etes priés de patienter jusqu'a la livraison avant de payer merci bien !</p><br>
                            <p ><span style="font-weight: bolder;">Nombres d'articles :</span> {{i.quantite}}</p><br>
                            <p ><span style="font-weight: bolder;">Montants total :</span> {{i.prix}}</p><br>
                            <a href="/deletenotif/{{i.id}}" style="padding: 10px 15px;background-color: red;text-decoration: none;color: white;">SUPPRIMER</a>
            
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- {% for i in ae[2] %}
            <div class="notiffq">
                <div class="supeyujd">
                    <div class="hdjks">
                        
                        <a href="/deletenotif/{{i.id}}">
                            <img src="{{url_for('static', filename='IMAGES/crit.png')}}" alt="" style="filter: invert(100%) sepia(0%) saturate(751%) hue-rotate(178deg) brightness(112%) contrast(105%);">
                        </a>
                    </div>
                </div>
                <div class="supeyujd1">
                    <div class="fcdghjhk">
                        <img src="{{url_for('static', filename='uploads/' + i.image)}}" width="150px" height="70%" alt="">
                        <h5 style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;padding-top: 20px;color: rgb(90, 7, 163);text-align: center;">{{i.prix}} FCFA</h5>
                    </div>
                    <div class="fcdghjhk1">
                        <h5 style="color: rgb(90, 7, 163);font-size: 1.2rem;">NOUVELLE COMMANDE</h5>
                        <p style="color: gray;">Vous avez commandez <br> <span style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: rgba(90, 7, 163, 0.616);font-size: 1.5rem;font-weight: bolder;" >{{i.quantite}}</span> article(s) au prix de <br> <span style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: rgba(90, 7, 163, 0.616);font-size: 1.5rem;font-weight: bolder;" >{{i.prix}} FCFA</span> Chez <br> <span style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: rgb(90, 7, 163);font-size: 1.5rem;font-weight: bolder;" >BLAY LIBRARY .</span> <br> Merci bien pour la confiance.</p>

                        
                        
                    </div>
                </div>
            </div>
            {% endfor %} -->
            {% if ae[2] %}
            <div class="erjkz">

                <a href="/toutsu" style="text-align: center;height: 60px;width: 215px;background-color: red;color: white;display: flex;align-items: center;justify-content: center;gap: 5px;" >Vider les notifications <img src="{{url_for('static', filename='IMAGES/poubelele.png')}}" alt="" style="filter: invert(100%) sepia(0%) saturate(751%) hue-rotate(178deg) brightness(112%) contrast(105%);">
                </a>
            </div>
            {% endif %}
            <div class="erjkz">

                <a href="/deconnexion" style="text-align: center;height: 60px;width: 180px;background-color: rgb(90, 7, 163);color: white;display: flex;align-items: center;justify-content: center;gap: 5px;" >Déconnexion   <img src="static/IMAGES/dec-removebg-preview.png" style="filter: invert();height: 20px;"  alt="">
                </a>
            </div>
            <div class="footer" id="Contactez">
     
                <form action="/envoyer_emailhom" method="post" class="imp">
                    <input type="text" class="te" name="contenu" placeholder="Ecrivez - nous maintenant s'il vous avez un probleme!">
                    <input type="submit" class="sr" value="">
                </form>
              
            </div>
        </div>
    </div>
    

</body>
</html>




